@charset "Shift_JIS";

/* 画像表示(↓) */
td.nowrap_img { 
	white-space: nowrap; 
		text-align:center;
	} 

.float_l {
	float: left;
	margin:0px 9px 1px 0px;
	}

.float_r {
	float: right;
	margin:0px 5px 1px 8px;
	}

.padding_10px {
	padding :0 10px;
	margin: 0;
	}

#img_area {
	width:540px;
	text-align:left;
		}


/* インタビュー項目(↓) */
.nom1 {
	vertical-align: top;
	width: 50px;
	padding:0px 3px 15px 0px;
	}


/*　キャッチ＆リード（↓）*/
#catch {
	padding:8px 0 8px 0;
	}

#lead {
	padding: 10px 0;
	margin: 0;
	}

#lead_mii {
 width:720px;
	height:64px;
	padding: 0;
	margin: 0;
	background-image:url(https://www.nintendo.co.jp/nom/0803/p3/img/lead_bg.jpg);
	background-repeat:no-repeat;
	}

/*　枠（↓）*/
.p1waku_bg {
	width:720px;
	height:auto;
	background-image:url(https://www.nintendo.co.jp/nom/0803/p1/img/waku_bg.gif);
	background-repeat:y-repeat;
	margin:0 auto;
	padding:0px 0 0px 0;
	}

.p2waku_bg {
	width:720px;
	height:auto;
	background-image:url(https://www.nintendo.co.jp/nom/0803/p2/img/waku_bg.gif);
	background-repeat:y-repeat;
	margin:0 auto;
	padding:0px 0 0px 0;
	}

.p3waku_bg {
	width:720px;
	height:auto;
	background-image:url(https://www.nintendo.co.jp/nom/0803/p3/img/waku_bg.gif);
	background-repeat:y-repeat;
	margin:0 auto;
	padding:0px 0 0px 0;
	}

/*　Miiコンテスト（↓）*/
.p3h2_waku_bg {
	width:660px;
	height:auto;
	background-image:url(https://www.nintendo.co.jp/nom/0803/p3/img/h2_waku_bg.gif);
	background-repeat:y-repeat;
	margin:0 auto;
	vertical-align:top;
	padding:0px 0 0px 0;
	}

.miicon_area {
	width: 660px;
	margin: 0 auto;
	padding-top:10px;
	vertical-align:top;
	clear:both;
	}

/*　インタビュー（↓）*/
.interview_area {
	padding-top: 20px;
	width: 660px;
	margin: 0 auto;
	clear:both;
	}

#navi_link {
	width:620px;
	margin:0 auto;
	padding:3 0 8 0;
	text-align: right;
	font-family: "ＭＳ ゴシック", Osaka;
	font-size: 12px;
	color: #8eb933;
	}

/*　メッセージ（↓）*/
#p1message {
	width:660px;
	height:160px;
	background-image:url(https://www.nintendo.co.jp/nom/0803/p1/img/message_bg.gif);
	background-repeat:y-repeat;
	padding:0;
	margin:0;
	clear:both;
		}

#p2message {
	width:660px;
	height:aute;
	background-image:url(https://www.nintendo.co.jp/nom/0803/p2/img/message_bg.gif);
	background-repeat:y-repeat;
	padding:0;
	margin:0;
	clear:both;
		}
	
.eye_catch {
	margin:0px 5px 1px 8px;
	}

.clear_both {
	clear:both;
}

/*　サイトマップエリア（↓）*/
#sitemap_area {
 width:720px;
	height:575px;
	padding: 0;
	margin: 0;
	background-image:url(https://www.nintendo.co.jp/nom/0803/img_cmn/sitemap_bg.jpg);
	background-repeat:no-repeat;
	}

/*　フッタ－エリア（↓）*/
#top_footer {
	width:100%;
	vertical-align:middle;
	padding:10px 0 8 0;
	text-align:center;
	}

/*　送りボタン（↓）*/
.okuri_main {
 padding: 0;
	margin: 0;
	width: 660px;
	height: 18px;
	background: #edecdc;
	}
	
.btn_next {
	float: right;
	margin:0px 20px 0px 0px;
	}

.btn_pre {
	float: left;
	margin:0px 0px 0px 20px;
	}

