@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2010/06/29;
	Site Name : N.O.M Nintendo Online Magazine No.144;
	About : N.O.M page CSS;

--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/


/*--- 01.body container wrapper
--------------------------------------------------------------------------*/

/*--- 02.header
--------------------------------------------------------------------------*/

/*--- 03.main
--------------------------------------------------------------------------*/

#main-box-001 {
	width:768px;
	height:408px;
}

.main-box-002 {
	width:428px;
	height:340px;
	margin:40px 0 0 0;
	display:inline;
	float:left;
}

.main-box-003 {
	width:350px;
	height:28px;
	margin:0 24px 0 394px;
}

.main-box-004 {
	width:768px;
}

.main-box-005 {
	width:768px;
	padding:20px 0 40px 0;
}

.main-box-006 {
	width:768px;
	padding:0 0 20px 0;
}

.main-box-006 p {
	padding:3px 0;
	text-align:center;
	color:#333;
}

.main-box-007 {
	width:414px;
	margin:0 177px 10px;
}

.main-box-008 {
	width:404px;
	margin:0 182px 10px;
}

.main-box-009 {
	width:360px;
	padding:0 204px 40px;
}

.main-box-009 ul li {
	margin:2px 0;
	padding:3px 5px;
	background-color:#111;
}

.main-member-001 {
	width:70px;
	height:340px;
	margin:40px 10px 0 0;
	display:inline;
	float:left;
}

.main-btn0 {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn0:hover {
	background-position:0 -28px;
}

.main-btn1 {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-50px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn1s {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-50px -28px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn1:hover {
	background-position:-50px -28px;
}

.main-btn2 {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-100px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn2s {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-100px -28px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn2:hover {
	background-position:-100px -28px;
}

.main-btn3 {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-150px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn3s {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-150px -28px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn3:hover {
	background-position:-150px -28px;
}

.main-btn4 {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-200px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn4s {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-200px -28px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn4:hover {
	background-position:-200px -28px;
}

.main-btn5 {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-250px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn5s {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-250px -28px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn5:hover {
	background-position:-250px -28px;
}

.main-btn6 {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-300px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn6s {
	display:block;
	width:50px;
	height:28px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/bt_numlink.gif);
	background-repeat:no-repeat;
	background-position:-300px -28px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.main-btn6:hover {
	background-position:-300px -28px;
}

.main-text-001a {
	width:74px;
	text-align:right;
	margin:0 0 0 10px;
	display:inline;
	float:left;
}

.main-text-001a p {
	font-size:13px;
	color:#C47DE6;
	padding:10px 0 10px 0;
}

.main-text-001b {
	width:644px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/fuki_nom1_1.gif);
	background-position:0 0;
	/*background-position:center top;*/
	background-repeat:no-repeat;
	margin:0 40px 10px 0;
	display:inline;
	float:left;
}

.main-text-001b p {
	font-size:13px;
	color:#C47DE6;
	padding:10px 20px 0 36px;
}

.main-text-002a {
	width:74px;
	text-align:right;
	margin:0 0 0 10px;
	display:inline;
	float:left;
}

.main-text-002a p {
	font-size:13px;
	color:#DCDCDC;
	padding:10px 0 10px 0;
}

.main-text-002b {
	width:644px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/fuki_san1_1.gif);
	background-position:center top;
	background-repeat:no-repeat;
	margin:0 40px 10px 0;
	display:inline;
	float:left;
}

.main-text-002b p {
	font-size:13px;
	color:#DCDCDC;
	padding:10px 20px 0 36px;
}

.main-text-002b span {
	font-size:10px;
	padding-right:2px;
}

.main-text-003a {
	width:74px;
	text-align:right;
	margin:0 0 0 10px;
	display:inline;
	float:left;
}

.main-text-003a p {
	font-size:13px;
	color:#DCDCDC;
	padding:10px 0 10px 0;
}

.main-text-003b {
	width:432px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/fuki_san2_1.gif);
	background-position:center top;
	background-repeat:no-repeat;
	margin:0 10px 10px 0;
	display:inline;
	float:left;
}

.main-text-003b p {
	font-size:13px;
	color:#DCDCDC;
	padding:10px 20px 0 36px;
}

.main-text-003b span {
	font-size:10px;
	padding-right:2px;
}

.main-text-003c {
	width:202px;
	margin:0 40px 10px 0;
	display:inline;
	float:right;
}

.main-text-004a {
	width:74px;
	text-align:right;
	margin:0 0 0 10px;
	display:inline;
	float:left;
}

.main-text-004a p {
	font-size:13px;
	color:#C47DE6;
	padding:10px 0 10px 0;
}

.main-text-004b {
	width:432px;
	background-image:url(https://www.nintendo.co.jp/nom/1007/img/fuki_nom2_1.gif);
	background-position:center top;
	background-repeat:no-repeat;
	margin:0 10px 10px 0;
	display:inline;
	float:left;
}

.main-text-004b p {
	font-size:13px;
	color:#C47DE6;
	padding:10px 20px 0 36px;
}

.main-text-004b span {
	font-size:10px;
	padding-right:2px;
}

.main-span-001 {
	font-size:10px;
	color:#D0B5DF;
}

/*--- 04.footer
--------------------------------------------------------------------------*/

