
.maruc { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 15px; color:#DDDDDD }
.small2 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px }
.small { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 20px }
.small_b { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 16px; color:#BBFFFF }
.normal { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 20px }
.normal_y { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 14px; line-height: 20px; color:#F0E68C }

.caption { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 15px }

/*@ƒCƒ“ƒ^ƒrƒ…[—p@*/
.int_normal { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px }
.int_small { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 25px }

.nom_normal1 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#809900 ; font-weight: bold ;}
.name_normal1 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#679977 ; font-weight: bold ;}

.nom_normal2 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#284DC3 ; font-weight: bold ;}
.name_normal2 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#174D90 ; font-weight: bold ;}


A:link { text-decoration:none;color:#00A5E5; }
A:hover { text-decoration:underline;color:#A2DEF9; }
A:active { text-decoration:underline;color:#A2DEF9; }
A:visited { text-decoration:none;color:#006E99; }

A.color1:link { text-decoration:underline;color:#00A5E5; }
A.color1:hover { text-decoration:underline;color:#A2DEF9; }
A.color1:active { text-decoration:underline;color:#A2DEF9; }
A.color1:visited { text-decoration:none;color:#006E99; }
