@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2010/12/27;
	Site Name : N.O.M Nintendo Online Magazine No.150;
	About : N.O.M dsg page1 SS;

	00.common
	01.body container wrapper
	02.header
	03.main
	04.interview
	05.link
	06.footer


--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/

/*--- 03.main
--------------------------------------------------------------------------*/



.p1-img01{
	width:688px;
	text-align:center;
}

.p1-img02{
	width:688px;
	text-align:center;
	padding:0 0 30px 0;
}

.point-bg01{
	width:688px;
	height:166px;
	background-image:url(https://www.nintendo.co.jp/nom/1101/dsg-page1/img/point_bg01.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
}

.point-bg02{
	width:688px;
	height:175px;
	background-image:url(https://www.nintendo.co.jp/nom/1101/dsg-page1/img/point_bg02.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
}

.point-bg03{
	width:688px;
	height:180px;
	background-image:url(https://www.nintendo.co.jp/nom/1101/dsg-page1/img/point_bg03.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
}

.point-text{
	width:346px;
	padding:68px 312px 26px 30px;
}

.point-text_a{
	width:376px;
	padding:68px 282px 26px 30px;
}

.point-text_chousei{
	width:346px;
	padding:65px 312px 26px 30px;
}


.img001_p1{
	width:619px;
	text-align:center;
	padding:0 0 30px 0;
	margin:0 auto;
}

.img001_c{
	width:379x;
	padding:40px 0 8px 0; 
	float:right;
}

.img001_c1{
	padding:0 0 8px 0;
}

.img001_c2{
	padding:0 0 30px 0;
}

.img002{
	width:240px;
	padding:0 0 30px 0;
	margin:0 auto;
}