* { margin: 0px; padding: 0px; }
body { height: 100%; background: #171717 url('img/background1.gif') repeat-y center; background-attachment: fixed; color: #aaaaaa; font: 12px PmingLiU, sans-serif; letter-spacing: 1px; line-height: 18px; text-align: center; overflow-y: auto; cursor: default; }
input, select, textarea { font: 12px PmingLiU, sans-serif; } 
a { color: #5b5151; text-decoration: none; cursor: hand; }
a:hover { color: #e8b741; }
a img { border: none; }
br { line-height: 6px; }
h1 { font-size: 12px; font-weight: normal; }
h2 { font-size: 12px; font-weight: normal; }
b { font-weight: normal; }
table { border: 0px; border-collapse: collapse; }
th, td { vertical-align: top; }
th { background: #202020; font-weight: normal; border: 1px solid #3e3e3e; padding: 5px 6px 4px 8px; text-align: left; }
fieldset { border: 1px solid #3e3e3e; padding: 6px 8px 9px 8px; }
legend { color: #aaaaaa; padding: 0px 4px 0px 6px; }
ul { list-style-type: square; margin-left: 30px; padding: 0px; }
ol { list-style-type: decimal-leading-zero; margin-left: 30px; padding: 0px; }
.top { vertical-align: top; }
.center { text-align: center; }
.right { text-align: right; }
.middle { vertical-align: middle; }
.eng1 { font: 11px verdana, arial, sans-serif; letter-spacing: 1px; }
.eng2 { font: bold 11px verdana, arial, sans-serif; letter-spacing: 1px; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.chi1 { font: 12px PmingLiU, sans-serif; letter-spacing: 1px; }
.linkselected { color: #6e526e; }
.beige { color: #bdbda0; }
.blue { color: #244d76; }
.darkgray { color: #3e3e3e; }
.lightgray { color: #676767; }
.orange { color: #a6832f; }
.purple { color: #6e526e; }
.red { color: #a15663; }
.white { color: #ffffff; }
.yellow { color: #e8b741; }
.help { color: #444444; }
.option { padding-left: 6px; }
.ordinal { font: 8px verdana, arial, sans-serif; vertical-align: super; }
.selectbox { background-color: #1c1c1c; color: #505050; letter-spacing: 1px; border: 1px solid #3e3e3e; padding: 4px 8px 3px 2px; }
.inputbox { background-color: #1c1c1c; color: #505050; letter-spacing: 1px; border: 1px solid #3e3e3e; padding: 5px 8px 4px 5px; }
.inputfield { padding: 2px 0px 0px 0px; vertical-align: middle; }
.urlfield { color: #444444; padding: 2px 10px 0px 0px; text-align: right; vertical-align: middle; }
.urlbox { background-color: #1c1c1c; color: #505050; font: 11px verdana, arial, sans-serif; letter-spacing: 1px; border: 1px solid #3e3e3e; padding: 3px 8px 4px 6px; }
.checkbox { margin: 2px 8px 0px 10px; }
.radio { margin: 1px 5px 0px 8px; }
.ghostdoll { margin-top: 2px; }
#childpost { color: #505050; letter-spacing: 1px; border: 1px solid #3e3e3e; margin-bottom: 8px; padding: 8px 8px 0px 8px; }
.collapse { padding-right: 8px; }
.avatar { width: 64px; margin: 3px 0px 7px 7px; float: right; clear: right; }
.tsubmit { margin-right: 22px; margin-bottom: -24px; position: relative; top: -16px; }
.replyto0 { margin-bottom: 8px; text-align: center; }
.replyto1 { width: 67px; margin: 0px 0px 8px 0px; margin-left: 383px; }
.replyto2 { width: 58px; margin: 0px 0px 8px 0px; margin-left: 374px; }
.replyto3 { width: 49px; margin: 0px 0px 8px 0px; margin-left: 365px; }
.replyto4 { width: 1px; margin: 0px 0px 8px 0px; margin-left: 395px; }
textarea { background-color: #1c1c1c; color: #505050; letter-spacing: 1px; border: 1px solid #3e3e3e; padding: 5px 8px 4px 5px; scrollbar-face-color: #3e3e3e; scrollbar-track-color: #1c1c1c; scrollbar-arrow-color: #676767; scrollbar-highlight-color: #676767; scrollbar-shadow-color: #1c1c1c; scrollbar-3dlight-color: #282828; scrollbar-darkshadow-color: #161616; }
/* ----------------------------------------------------------- */
#wrapper { width: 972px; height: 100%; margin: 0 auto; text-align: left; }
/* ----------------------------------------------------------- */
#header { width: 972px; height: 212px; position: absolute; top: 0px; }
#leftpicture { width: 45px; height: 228px; position: fixed; top: 0px; margin-left: -67px; }
.frame1 { width: 972px; height: 212px; }
.frame2 { width: 69px; height: 282px; position: absolute; top: 212px; margin-left: 25px; }
.frame3 { width: 21px; height: 420px; position: absolute; top: 212px; margin-left: 730px; }
.frame4 { width: 47px; height: 504px; position: fixed; top: 35px; margin-left: 986px; }
.frame5 { width: 23px; height: 76px; background-color: #3e3e3e; position: fixed; bottom: 0px; }
.frame6 { width: 23px; height: 106px; background-color: #3e3e3e; position: fixed; bottom: 0px; margin-left: 949px; }
.item1 { position: fixed; top: 229px; margin-left: 191px; z-index: 3;}
.item2 { width: 242px; height: 27px; background-image: url('img/frame5.gif'); background-repeat: no-repeat; background-position: center center; color: #ffffff; font-size: 16px; position: fixed; top: 232px; margin-left: 357px; padding-top: 6px; text-align: center; z-index: 2; }
.item3 { width: 242px; height: 219px; background-color: #000000; position: fixed; top: 282px; margin-left: 365px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; z-index: 2; }
.item4 { width: 540px; height: 76px; background-color: #000000; color: #8e6722; position: fixed; top: 522px; margin-left: 208px; padding: 5px 8px 0px 8px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; z-index: 3; }
.item5 { width: 191px; height: 119px; position: fixed; top: 306px; margin-left: 392px; z-index: 2;}
.item6 { width: 55px; height: 20px; position: fixed; top: 533px; margin-left: 701px; z-index: 3; }
.item7 { width: 100%; height: 100%; background-color: #000000; position: fixed; left:0; top:0; filter:alpha(opacity=60); opacity: 0.6; -moz-opacity: 0.6; z-index: 1; }
.logo { width: 66px; height: 98px; position: relative; left: 25px; top: -130px; }
.house { width: 166px; height: 51px; position: relative; left: 127px; top: -299px; }
.theme { width: 240px; height: 133px; position: relative; left: 94px; top: -296px; }
.menu { width: 605px; height: 107px; background-color: #232323; position: relative; left: 334px; top: -412px; padding: 9px 0px 0px 7px; }
.menu a { color: #ffffff; }
.menu img { margin-top: 2px; }
.menu table { border-right-style: none; border-bottom: 1px solid #3e3e3e; }
.menu td { border-right: 1px dashed #2e2e2e; padding: 0px 7px 2px 10px; }
.series { width: 652px; height: 68px; position: relative; left: 296px; top: -599px; }
.camera { width: 114px; height: 105px; position: relative; left: 851px; top: -559px;}
.butterfly { width: 19px; height: 29px; position: absolute; top: 290px; margin-left: 845px; }
.mute { width: 63px; height: 66px; position: absolute; top: 480px; margin-left: 26px; z-index: 1; }
.themex { width: 74px; height: 33px; position: absolute; top: 24px; margin-left: 118px; }
/* ----------------------------------------------------------- */
#main { width: 972px; margin-top: 212px; }
#content { width: 468px; margin: 0px 10px 0px 106px; padding-top: 6px; float: left; }/* width: 730px */
#submenu { margin: 0px 242px 0px 584px; padding-top: 6px; vertical-align: top; }/* width: 730px */
#sublink { margin-bottom: 2px; }
#sidebar { width: 180px; position: absolute; top: 218px; margin-left: 760px; }
#sidebar table { width: 180px; }
/* ----------------------------------------------------------- */
.titlebar1 { color: #e8b741; text-indent: 4px; border-bottom: 1px solid #3e3e3e; padding: 4px 0px 2px 0px; }
.titlebar2 { color: #6e526e; text-indent: 4px; border-bottom: 1px solid #3e3e3e; padding-bottom: 2px; }
.titlebar3 { color: #676767; border-bottom: 1px solid #3e3e3e; padding: 0px 6px 2px 0px; text-align: right; }
.mainpagebar { color: #676767; border-bottom: 1px solid #3e3e3e; padding: 4px 9px 2px 0px; text-align: right; }
.timelinebar { color: #e8b741; text-indent: 4px; border-bottom: 1px solid #3e3e3e; padding-bottom: 2px; }
.opentext1 { padding-top: 10px; }
.opentext2 { padding-top: 6px; }
.openpicture1 { padding-top: 13px; }
.openpicture2 { padding-top: 9px; }
.guideauthor { width: 468px; padding-top: 3px; padding-right: 9px; text-align: right; }
.bottomline1 { border-bottom: 1px solid #3e3e3e; padding: 10px 0px 9px 0px; }
.bottomline2 { border-bottom: 1px solid #3e3e3e; padding: 6px 0px 9px 0px; }
.bottomline3 { border-bottom: 1px solid #3e3e3e; padding-bottom: 13px; }
.bottomline4 { border-bottom: 1px solid #3e3e3e; padding-bottom: 9px; }
.bottomline5 { border-bottom: 1px solid #3e3e3e; padding: 6px 0px 2px 0px; }
#video { width: 627px; }
#video .related1 { width: 143px; padding: 0px 8px 0px 8px; }
#video .related2 { width: 151px; padding: 6px 0px 0px 8px; }
/* ----------------------------------------------------------- */
#opentable1 { width: 468px; margin-top: 13px; border-right: 1px solid #3e3e3e; }
#opentable1c { margin-top: 13px; border-right: 1px solid #3e3e3e; }
#opentable1i { width: 143px; margin: 13px 0px 0px 0px; border-right: 1px solid #3e3e3e; }
#opentable2 { margin-top: 9px; border-right: 1px solid #3e3e3e; }
#opentable3 { margin-top: 13px; border-right: 1px solid #3e3e3e; }
#opencustome2 { margin: 13px 0px 0px 172px; border-right: 1px solid #3e3e3e; }
#opencustome3 { margin: 13px 0px 0px 121px; border-right: 1px solid #3e3e3e; }
#opentable1 td, #opentable1c td, #opentable1i td, #opentable2 td, #opentable3 td, #opencustome2 td, #opencustome3 td { border: 1px solid #3e3e3e; padding: 5px 6px 4px 8px; }
#opentable1c th { text-align: center; }
#opentable1c td { text-align: center; }
/* ----------------------------------------------------------- */
#thumbnail1 { width: 414px; }
.preview1 { padding-bottom: 9px; }
.preview2 { padding-bottom: 12px; }
.preview3 { padding-right: 12px; }
/* ----------------------------------------------------------- */
#control { width: 468px; }
#control th { color: #ffffff; font-weight: normal; text-align: left; }
#control .function1 { border-right: 1px solid #3e3e3e; padding: 5px 20px 0px 0px; }
#control .function2 { padding: 5px 0px 0px 13px; }
#control .function3 { border-right: 1px solid #3e3e3e; padding: 5px 20px 0px 13px; }
#control img { margin: 3px 0px; }
#film { width: 468px; margin-top: 6px; }
#film img { margin: 6px 12px 0px 4px; }
.filmline { border-bottom: 1px solid #3e3e3e; padding-bottom: 2px; }
#basic { width: 468px; }
#basic img { margin: 12px 12px 0px 4px; }
#ability { width: 468px; }
#ability .space1 { width: 14px; }
#ability .space2 { width: 260px; }
#ability .space3 { width: 220px; }
#ability .data { font: 11px verdana, arial, helvetica; letter-spacing: 1px; text-align: center; }
/* ----------------------------------------------------------- */
.save { margin: 9px 12px 5px 0px; }
.film { margin: 9px 12px 0px 16px; }
.shot { color: #bdbda0; font: bold 11px verdana, arial, sans-serif; letter-spacing: 1px; }
/* ----------------------------------------------------------- */
.interviewee1 { width: 75px; padding-top: 6px; text-align: right; }
.interviewee2 { width: 35px; padding-top: 6px; text-align: right; }
.x { color: #ffffff; font: bold 11px verdana, arial, helvetica; letter-spacing: 1px; }
.url { font: 10px verdana, arial, helvetica; letter-spacing: 1px; }
.lens { width: 24px; vertical-align: middle; }
.album { margin: 0px 12px 0px 4px; }
.slogan { padding: 8px 0px 0px 30px; }
.share { width: 38px; }
#wallpaper { width: 468px; margin-top: 13px; }
#wallpaper a { font: 11px verdana, arial, sans-serif; letter-spacing: 1px; }
#wallpaper td { text-align: center; }
#wallpaper .size { padding: 5px 0px 11px 0px; }
#custome1, #custome2, #custome3, #custome4, #custome5, #custome6, #custome7, #custome8, #custome9, #custome10, #custome11, #custome12, #custome13 { position: absolute; top: 297px; margin-left: 0px; visibility: hidden; }
#register { width: 147px; position: absolute; top: 32px; margin-left: 0px; }
#seriesplay { position: absolute; top: 405px; margin-left: 290px; }
#3dspuzzle { width: 468px; margin-top: 13px; }
/* ----------------------------------------------------------- */
#character { width: 468px; margin-top: 9px; }
#seiyu { width: 240px; margin-top: 9px; }
#producer { width: 220px; margin-top: 9px; }
#spirit { width: 468px; margin-top: 9px; }
#game1 { width: 468px; border-bottom: 1px solid #3e3e3e; margin-top: 9px; }
#game2 { width: 468px; border-bottom: 1px solid #3e3e3e; margin-top: 13px; }
#guide { width: 468px; margin-top: 13px; }
.name1-character { width: 400px; color: #ffffff; }
.name1-seiyu { width: 180px; color: #ffffff; }
.name1-producer { width: 164px; color: #ffffff; }
.name1-spirit { width: 346px; }
.name2 { text-indent: 6px; border-bottom: 1px solid #3e3e3e; padding-bottom: 2px; }
.cv { border-bottom: 1px solid #3e3e3e; padding-right: 4px; text-align: right; }
.brief { padding-top: 3px; }
.portrait1 { margin: 0px 10px 0px 2px; }
.portrait2 { margin: 0px 12px 0px 0px; }
.portrait3 { margin: 3px 12px 0px 0px; }
.portrait4 { margin: 0px 12px 4px 26px; }
/* ----------------------------------------------------------- */
#page { width: 468px; }
#page .arrow1 { width: 7px; padding-left: 30px; }
#page .arrow2 { width: 7px; padding-right: 30px; }
#page .currentpage { width: 294px; font: bold 13px verdana, arial, helvetica; letter-spacing: 1px; text-align: center; }
#page .previous { width: 43px; padding-left: 7px; }
#page .next { width: 46px; padding-right: 4px; text-align: right; }
#page .translate { padding-right: 12px; text-align: right; }
#box1 { border: 1px solid #3e3e3e; margin: 3px 0px 4px 0px; padding: 10px 13px 9px 13px; }
#box2 { border: 1px solid #3e3e3e; margin: 9px 0px 4px 0px; padding: 10px 13px 9px 13px; }
#news { width: 972px; height: 0px; position: absolute; top: 212px; }
#backtolast { width: 94px; position: absolute; top: 200px; z-index: 1; }
#backtotop { width: 842px; padding-right: 25px; padding-left: 106px; clear: both; }
#footer { width: 853px; margin-bottom: 57px; padding: 0px 25px 0px 94px; clear: both; }
#footer .disclaimer { width: 853px; color: #3e3e3e; font: 11px verdana, arial, helvetica; letter-spacing: 0px; line-height: 15px; padding: 3px 11px 10px 11px; }
#footnote { width: 853px; background-image: url('img/footer.gif'); padding: 0px 25px 0px 94px; position: fixed; bottom: 0px; }
#footnote a { color: #3e3e3e; }
#footnote .copyright { width: 853px; color: #3e3e3e; font: 11px verdana, arial, helvetica; letter-spacing: 0px; line-height: 8px; border: 3px double #3e3e3e; border-right-style: none; border-left-style: none; padding: 10px 11px 15px 11px; }
.datetime { position: absolute; top: 9px; margin-left: 652px; }
/* ----------------------------------------------------------- */
