@charset "Shift_JIS";

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/

.t-lead {
	_width:768px;
	_padding:32px 76px 18px 76px;
	width:616px;
	margin:0 76px 18px 76px;
	padding:32px 0 0 0;
	
}

.t-lead2 {
	width:768px;
	padding:0 76px 18px 76px;
}

.t-lead3 {
	width:768px;
	padding:0 76px 8px 76px;
}

.t-btn01 {
	width:707px;
	height:63px;
	padding:0 11px 0 13px;
	float:left;
}

.t-btn01 a {
	display:block;
	width:683px;
	height:63px;
	background-image:url(../img/t_btn01.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
}

.t-btn01 a:hover {
	background-position:0 -63px;
}

.t-btn02 {
	width:334px;
	height:240px;
	margin:0 15px 0 0;
	float:left;
}

.t-btn03 {
	width:334px;
	height:240px;
	float:right;
}

.t-btn02 a {
	display:block;
	width:334px;
	height:240px;
	background-image:url(../img/t_btn02.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
}

.t-btn03 a {
	display:block;
	width:334px;
	height:240px;
	background-image:url(../img/t_btn03.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
}

.t-btn02 a:hover , .t-btn03 a:hover {
	background-position:0 -240px;
}

