/*======================================

	4.style

=======================================*/

* {
	margin:0;
	padding:0;
	border:0;
	font-family:"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3","HiraKakuPro-W3","MS UI Gothic","MS P Gothic","MS Gothic","Meiryo";
	line-height:1.5;
	/*letter-spacing:0.2em;*/
	/*word-spacing:0.5em;*/
	
}

body {
	background:#000 url(https://www.nintendo.co.jp/nom/0904/p2/img/page_bg.jpg) repeat-x left top;
	color: #eee;
	font-size: 12px;
}


img {
	margin:0;
	padding:0;
	border:0;
}

a {
	outline:none;
}

li {
	list-style:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

th, td {
	font-size:100%;
}

#hdrMenu .menu02, #hdrMenu .menu03, #hdrMenu .menu04, #hdrMenu .menu05, #hdrMenu .menu06, #hdrMenu .menu07, #hdrMenu .menu08, #hdrMenu .menu09 {
	background: url(https://www.nintendo.co.jp/nom/0904/p2/img_cmn/hdr_menu_line.gif) no-repeat right top;
	float: left;
	text-align: left;
}

#ftr {
	width: 768px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-top: #303030 1px solid;
}

.clear {
	clear:both;
}

.hide {
	position:absolute;
	left:-9999px;
	top:-9999px;
}


#container {
	width:768px;
	margin:0 auto;
	text-align:center;
	background-color:#000;
}

#wrapper {
	width:768px;
	margin:0 auto;
	text-align:left;
}


/*======================================
	interview_i
=======================================*/

.i_nom {
	padding-top:17px;
	padding-right:5px;
	color:#8ec31f;
	text-align:right;
	text-decoration:none;
	vertical-align:top;
	font-size:93%;
	/*font-size: 87%;*/
}


.i_eno {
	padding-top:17px;
	padding-right:5px;
	color:#b1dff5;
	text-align:right;
	text-decoration:none;
	vertical-align:top;
	font-size:93%;
	/*font-size: 87%;*/
}


.i_sato {
	padding-top:17px;
	padding-right:5px;
	color:#c0b8de;
	text-align:right;
	text-decoration:none;
	vertical-align:top;
	font-size:93%;
	/*font-size: 87%;*/
}

.t_nom {
	padding-top:17px;
	color:#8ec31f;
	text-decoration:none;
	vertical-align:top;
	font-size:93%;
	/*font-size: 87%;*/
}

.t_eno {
	padding-top:17px;
	color:#c3e4f4;
	text-decoration:none;
	vertical-align:top;
	font-size:93%;
	/*font-size: 87%;*/
}

.t_sato {
	padding-top:17px;
	color:#d9d4e9;
	text-decoration:none;
	vertical-align:top;
	font-size:93%;
	/*font-size: 87%;*/

}

/*======================================
	rittai_bg
=======================================*/

.rittai_bg {
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/bg.jpg);
	background-repeat: repeat-y;
}


.r_photo {
margin-top:-2px;
padding-bottom:15px;
margin-left:20px;
float:right;
}

.sp_photo {
padding-bottom:15px;
margin-left:20px;
float:right;
}

.c_photo{
padding-top:15px;
}

#rittai-link {
	font-size: 67%;
	padding-bottom:0px;
	padding-top:35px;
		color:#4d4c43;
}

.r-footer {
	padding-bottom:0px;
	padding-top:10px;
}

#footer-link{
	padding:20px 20px 30px;
}

.link_off {
	
}

.link_cr {
	color:#00e9ff;
}

/*======================================
	bt
=======================================*/
.stybtn1 {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn1.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn1:hover {
	background-position: 0 -67px;
}

.stybtn1s {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn1s.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn2 {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn2.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn2:hover {
	background-position: 0 -67px;
}

.stybtn2s {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn2s.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn3 {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn3.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn3:hover {
	background-position: 0 -67px;
}

.stybtn3s {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn3s.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn4 {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn4.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn4:hover {
	background-position: 0 -67px;
}

.stybtn4s {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn4s.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn5 {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn5.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.stybtn5:hover {
	background-position: 0 -67px;
}

.stybtn5s {
	display: block;
	width: 130px;
	height: 67px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/btn5s.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}



/*======================================
	to_top
=======================================*/
.to_top {
	display: block;
	width: 110px;
	height: 44px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/to_top.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.to_top:hover {
	background-position: 0 -44px;
}

/*======================================
	to_rittai
=======================================*/
.to_rittai {
	display: block;
	width: 169px;
	height: 49px;
	background-image: url(https://www.nintendo.co.jp/nom/0904/p2/img/bt_rittai.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0.1%;
	line-height: 0.1%;
	float: left;
}

.to_rittai:hover {
	background-position: 0 -49px;
}