@charset "Shift_JIS";


#title2_l {
	float: left;
	width: 450px;
}

#title2_r {
	float: right;
	width: 254px;
}


/*+++++++++++++++++++++++++*/

#go_koushiki {
	position : relative;
	display: block;
	width: 254px;
	height: 42px;
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/toku2_info2.jpg) 0 0 no-repeat;
}

#go_koushikibtn {
	position: absolute;
	top: 10px;
	left: 15px;
}

#go_koushikibtn a {
	display: block;
	width: 218px;
	height: 25px;
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_koushiki_btn.jpg) 0 0 no-repeat;
}

#go_koushikibtn a:hover {
	
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_koushiki_btn.jpg) 0 -25px no-repeat;
}

/*++++++++++++++++++++++++++++++++++++*/

#staff {
	display: block;
	width: 704px;
	height: 380px;
}

/*++++++++++++++++++++++++++++++++++++++*/

#go_top3 {
	position : relative;
	display: block;
	width: 704px;
	height: 32px;
}

#go_top3 p {	
	position: absolute;
	top: 15px;
	right: 22px;
	
}

#go_top3 p a {
	
	display: block;
	width: 90px;
	height: 17px;
	background: #000000 url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_top3.jpg) 0 0 no-repeat;
}

#go_top3 p a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_top3.jpg) 0 -17px no-repeat;
}


/*+++++++++++++++++++++++++++++++++++++++++++*/

#hera3 {
	text-align: center;
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/page_base2.jpg) top center no-repeat;	
}

#page_base2 {
	
	position : relative;
	width: 704px;
	height: 39px;
}


#bun2 {
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/toku2_inline.jpg) top center repeat-y;
}

.name2 {

	color: #0075a9;
}

.name3 {

	color: #ec6941;
}

.name4 {

	color: #009e96;
}


/*+++++++++++++++++++++++++++++++++++++++++++++*/

#under_bar_yellow {

	display: block;
	width: 704px;
	height: 35px;
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/underlink_bg2.jpg) 0 0 no-repeat;
}

#go_top4 {
	float: left;
}

#go_toku1 {
	float: right;
}

#go_top4 a {
	display: block;
	width: 155px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_top4.jpg) 0 0 no-repeat;
}

#go_toku1 a {
	display: block;
	width: 420px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_content1.jpg) 0 0 no-repeat;
}

#go_top4 a:hover {
	
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_top4.jpg) 0 -15px no-repeat;
}

#go_toku1 a:hover {
	
	background: url(https://www.nintendo.co.jp/nom/0806/hercules/img/go_content1.jpg) 0 -15px no-repeat;
}