<hy-drawer
  id="_drawer"
  class="{% if include.cover %}cover{% endif %}"
  side="left"
  threshold="10"
  noscroll
  {% if include.cover %}opened{% endif %}
>
  <header id="_sidebar" class="sidebar{% if include.invert %} invert{% endif %}" role="banner">
    {% include_cached body/sidebar-bg.html image=include.image color=include.color theme_color=include.theme_color %}
    {% include_cached body/sidebar-sticky.html %}
  </header>
</hy-drawer>
<div id="aplayer"></div>
<hr class="sr-only" hidden />


<script src="https://cdn.jsdelivr.net/npm/vconsole/dist/vconsole.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/color-thief-don@2.0.2/src/color-thief.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
<meting-js server="netease" type="playlist" id="574373829" fixed="true" mini="ture"></meting-js>