{% assign image       = include.image       %}
{% assign color       = include.color       %}
{% assign theme_color = include.theme_color %}

{% if image.background %}
  {% capture bg_style %}background:{{ image.background }}{% endcapture %}
  {% capture bg_class %}sidebar-bg {% if image.overlay %}sidebar-overlay{% endif %}{% endcapture %}
{% else %}
  {% assign bg_color = theme_color | default:site.theme_color | default:color %}
  {% capture bg_style %}background-color:{{ bg_color }};{% if image != 'none' %}background-image:url({% include_cached smart-url url=image %}){% endif %}{% endcapture %}
  {% capture bg_class %}sidebar-bg {% if image != 'none' %}sidebar-overlay{% endif %}{% endcapture %}
{% endif %}

<!-- 音乐播放器 -->
<div id="aplayer" style="z-index:999;position:fixed;">     
    <script src="https://cdn.jsdelivr.net/npm/vconsole/dist/vconsole.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/color-thief-don@2.0.2/src/color-thief.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
    <meting-js server="netease" type="playlist" id="6803943953" fixed="true" mini="true" listFolded="true" lrc-type="1"></meting-js>
</div>
<!-- 音乐播放器 -->

<div class="{{ bg_class }}" style="{{ bg_style }}"></div>
