@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2009/11/27;
	Update Date : ;
	Site Name : NOM0912 530;
	URL : ;
	About : NOM0912 530;
	Author : ENIAC;

--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

* {
	margin:0;
	padding:0;
	border:0;
	font-family:"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3","HiraKakuPro-W3","MS UI Gothic","MS P Gothic","MS Gothic","Meiryo";
	font-size:13px;
	font-weight:normal;
	line-height:1.5;
	outline:none;
	/*For IE Only*/
	word-break:break-all;
}

body {
	font-size:12px;
}

/* for IE6 */
/* Hides from IE-mac \*/

* html body {
	font-size:93%;
}

* html p {
	font-size:93%;
}

/* End hide from IE-mac */
/* for IE7 */

*:first-child+html body {
	font-size:93%;
}

body,td,th {
	/*font-size:93%;*/
	line-height:1.6;
}

.clear {
	clear:both;
}

.hide {
	position:absolute;
	left:-9999px;
	top:-9999px;
}

a {
	color:#FFF;
	text-decoration:none;
}

a:visited {
	color:#FFF;
	text-decoration:none;
}

a:hover {
	color:#EB6100;
	text-decoration:underline;
}

/*--- 01.body container wrapper
--------------------------------------------------------------------------*/

body {
	text-align:center;
	background-color:#FFF;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_bg_001.jpg);
	background-position:center top;
	background-repeat:repeat;
}

#container {
	background-color:#EEE;
	width:768px;
	margin:0 auto;
	text-align:center;
}

#wrapper {
	width:768px;
	margin:0 auto;
	text-align:left;
}

/*--- 02.530
--------------------------------------------------------------------------*/

.eco_box_001 {
	width:768px;
	/*position:relative;*/
}

.eco_box_001a {
	width:768px;
	margin:0 0 20px 0;
}

.eco_box_002 {
	width:768px;
	background-color:#4C4C4C;
}

.eco_box_003 {
	width:768px;
	text-align:center;
}

.eco_text_001 {
	margin:0 32px;
	padding:10px 0 100px 0;
	color:#FFF;
	background-color:#4C4C4C;
}

.eco_btn_001 {
	display:block;
	width:208px;
	height:158px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_001:hover {
	background-position:0 -158px;
}

.eco_btn_002 {
	display:block;
	width:178px;
	height:158px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_001.jpg);
	background-repeat:no-repeat;
	background-position:-208px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_002:hover {
	background-position:-208px -158px;
}

.eco_btn_003 {
	display:block;
	width:182px;
	height:158px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_001.jpg);
	background-repeat:no-repeat;
	background-position:-386px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_003:hover {
	background-position:-386px -158px;
}

.eco_btn_004 {
	display:block;
	width:200px;
	height:158px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_001.jpg);
	background-repeat:no-repeat;
	background-position:-568px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_004:hover {
	background-position:-568px -158px;
}

.eco_btn_005 {
	display:block;
	width:208px;
	height:184px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_002.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_005:hover {
	background-position:0 -184px;
}

.eco_btn_006 {
	display:block;
	width:178px;
	height:184px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-208px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_006:hover {
	background-position:-208px -184px;
}

.eco_btn_007 {
	display:block;
	width:182px;
	height:184px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-386px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_007:hover {
	background-position:-386px -184px;
}

.eco_btn_008 {
	display:block;
	width:200px;
	height:184px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-568px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_008:hover {
	background-position:-568px -184px;
}

.eco_btn_009 {
	display:block;
	width:178px;
	height:170px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_003.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_009:hover {
	background-position:0 -170px;
}

.eco_btn_010 {
	display:block;
	width:182px;
	height:170px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/img/530_btn_003.jpg);
	background-repeat:no-repeat;
	background-position:-178px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_btn_010:hover {
	background-position:-178px -170px;
}

/*--- 02.530_interview
--------------------------------------------------------------------------*/

.eco_i_page_btn_001 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_001s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_001:hover {
	background-position:0 -58px;
}

.eco_i_page_btn_002 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-44px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_002s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-44px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_002:hover {
	background-position:-44px -58px;
}

.eco_i_page_btn_003 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-88px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_003s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-88px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_003:hover {
	background-position:-88px -58px;
}

.eco_i_page_btn_004 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-132px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_004s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-132px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_004:hover {
	background-position:-132px -58px;
}

.eco_i_page_btn_005 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-176px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_005s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-176px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_005:hover {
	background-position:-176px -58px;
}

.eco_i_page_btn_006 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-220px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_006s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-220px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_006:hover {
	background-position:-220px -58px;
}

.eco_i_page_btn_007 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-264px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_007s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-264px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_007:hover {
	background-position:-264px -58px;
}

.eco_i_page_btn_008 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-308px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_008s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-308px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_008:hover {
	background-position:-308px -58px;
}

.eco_i_page_btn_009 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-352px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_009s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-352px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_009:hover {
	background-position:-352px -58px;
}

.eco_i_page_btn_010 {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-396px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_010s {
	display:block;
	width:44px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-396px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_010:hover {
	background-position:-396px -58px;
}

.eco_i_page_btn_011 {
	display:block;
	width:152px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-440px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_011s {
	display:block;
	width:152px;
	height:58px;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_pagebtn_001.jpg);
	background-repeat:no-repeat;
	background-position:-440px -116px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.eco_i_page_btn_011:hover {
	background-position:-440px -58px;
}

.eco_i_text_000 {
	margin:0 32px;
	padding:0 0 20px 0;
	color:#004563;
	font-size:14px;
	line-height:1.5;
}

.eco_i_text_001a {
	width:40px;
	margin:6px 3px 0 32px;
	padding:0;
	float:left;
	display:inline;
	font-size:14px;
	line-height:1.5;
	color:#EB6100;
}

.eco_i_text_002a {
	width:40px;
	margin:6px 3px 0 32px;
	padding:0;
	float:left;
	display:inline;
	font-size:14px;
	line-height:1.5;
	color:#65B72F;
}

.eco_i_text_003a {
	width:40px;
	margin:6px 3px 0 32px;
	padding:0;
	float:left;
	display:inline;
	font-size:14px;
	line-height:1.5;
	color:#000;
}

.eco_i_text_001b {
	width:693px;
	margin:0 0 20px 0;
	/*padding:0 0 30px 0;*/
	float:right;
	display:inline;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_bg_001.jpg);
	background-position:center top;
	background-repeat:repeat-y;
	font-size:14px;
	line-height:1.5;
}

.eco_i_text_002b {
	width:475px;
	margin:0 0 20px 0;
	padding:0;
	/*padding:0 0 30px 0;*/
	float:left;
	display:inline;
	background-image:url(https://www.nintendo.co.jp/nom/0912/530/interview/img/530_i_bg_002.jpg);
	background-position:center top;
	background-repeat:repeat-y;
	font-size:14px;
	line-height:1.5;
}

.eco_i_text_001c {
	/*margin:10px 47px 0 20px;*/
	margin:-10px 47px 0 20px;
}

.eco_i_text_002c {
	/*margin:10px 20px 0 20px;*/
	margin:-10px 20px 0 20px;
}

.eco_i_text_001d {
	margin:6px 0 0 0;
}

.eco_i_text_001e {
	width:182px;
	float:right;
	padding:0 36px 30px 0;
}

.eco_i_span_001 {
	font-size:10px;
}

.eco_i_link_001 {
	padding:10px 0 30px 0;
}

.eco_i_link_001 a {
	color:#000;
	text-decoration:none;
}

.eco_i_link_001 a:visited {
	color:#000;
	text-decoration:none;
}

.eco_i_link_001 a:hover {
	color:#EB6100;
	text-decoration:underline;
}

.eco_i_link_002 {
	padding:0 32px 5px 32px;
	color:#00479D;
}

.eco_i_link_002 a {
	color:#00479D;
	text-decoration:none;
}

.eco_i_link_002 a:visited {
	color:#00479D;
	text-decoration:none;
}

.eco_i_link_002 a:hover {
	color:#EB6100;
	text-decoration:underline;
}
.eco_i_span_002 {
	font-size:14px;
	font-weight:bold;
}
.eco_i_span_002_tanabe {
	color:#EB6100;
	font-size:14px;
}

.eco_i_span_002_ikuno {
	color:#00B050;
	font-size:14px;
}
.eco_i_span_002_norimoto {
	color:#00B0F0;
	font-size:14px;
}
.eco_i_span_002_tabata {
	color:#EB68A3;
	font-size:14px;
}
.eco_i_span_002_hasegawa {
	color:#FF0000;
	font-size:14px;
}
.eco_i_span_002_andou {
	color:#0070C0;
	font-size:14px;
}
.eco_i_span_color_001 {
	color:#00B050;
}

.eco_i_span_color_002 {
	color:#0070C0;
}

.eco_i_span_color_003 {
	color:#00B0F0;
}

.eco_i_span_color_004 {
	color:#EB6100;
}

.eco_i_span_color_005 {
	color:#EB68A3;
}

.eco_i_span_color_006 {
	color:#FF0000;
}
