@charset "Shift_JIS";

body {
	margin:0px;
	padding:0px;
	background-color:#FFFFFF;
	color : #666666;
	text-align: center;
	}

h1, h2 {
	display:inline;
	}

.navi_top_right {
	text-align: right;
	font-size:12px;
	vertical-align: middle;
	height: 27px;
	width: 470px;
	padding-right: 6px;
	}
	
.navi_to_top {
	width: 230px;
	}

.navi_top_right_s {
	text-align: right;
	font-size:12px;
	vertical-align: middle;
	height: 27px;
	width: 490px;
	padding-right: 26px;
	background-image: url(../p2/img/navi_top_bg.jpg);
	background-repeat: no-repeat;
	}
	
.navi_to_top_s {
	width: 210px;
	}

#MAIN_AREA {
	width:720px;
	background-color: #FFFFFF;
	margin:0 auto;
	padding:0 0 0;
	text-align: center;
	}
	

#CONTETS {
	width:650px;
	margin:0 auto;
	padding:0 0 0;
	text-align: left;
	}

#NAVI_AREA01 {
	width:100%;
	background-color:#999999;
	vertical-align:middle;
	padding:8px 0 8 0;
	}

#NAVI_AREA02 {
	width:100%;
	background-color:#000033;
	vertical-align:middle;
	padding:8px 0 8 0;
	}

#NAVI_PAGETOP {
	width:680px;
	background-color:#B2B7B8;
	margin-top: 10px;
	margin-bottom: 24px;
	margin-right: 20px;
	margin-left: 20px;
	color: #FFFFFF;
	}

#NAVI_PAGETOP_SEPIA {
	width:720px;
	background-color:#B2A595;
	color: #FFFFFF;
	}

#BG_image {
	width:100%;
	background-image:url(../img_cmn/bg_img.jpg);
	background-repeat: repeat;
	background-position: left top;
	}

#SITEMAP {
	width:720px;
	height:659px;
	background-image:url(../img_cmn/sitemap_bg.gif);
 background-repeat: no-repeat;
	}

/*　image　*/
img {
	border:none;
	margin:0;
	padding:0;
	}

.nowrap_img { 
	white-space: nowrap; 
	} 

.center_ss2 {
	text-align: center;
	white-space: nowrap;
	}

.float_l {
	float: left;
	margin:0px 9px 0px 0px;
	}

.float_r {
	float: right;
	margin:0px 5px 0px 6px;
	}

.float_l_sepia {
	float: left;
	margin:0px 9px 0px 0px;
	}

.float_r_sepia {
	float: right;
	margin:0px 10px 0px 6px;
	}

.btn_next {
	float: right;
	margin:0px 28px 0px 0px;
	}

.btn_pre {
	float: left;
	margin:0px 0px 0px 28px;
	}

/*　本文テキスト　*/

.text12 {
	font-family: "ＭＳ ゴシック", Osaka;
	font-size: 12px;
	color: #333333;
	line-height: 1.5;
	text-align:left;
	}

.sitemap_text12 {
	font-family: "ＭＳ ゴシック", Osaka;
	font-size: 12px;
	color: #0066CC;
	line-height: 1.3;
	text-align:left;
	}

.text10 {
	font-family: "ＭＳ ゴシック", Osaka;
	font-size: 10px;
	color: #333333;
	line-height: 1.5;
	}

.caption {
	font-family: "ＭＳ ゴシック", Osaka;
	font-size: 10px;
	color: #999999;
	line-height: 1.5;
	}
	
.square {
	color: #0066cc;
	padding-right: 2px;
	}

.nom_txt {
	font-family: "ＭＳ ゴシック", "Osaka";
	font-size: 12px;
	color: #000000;
	text-align:left;
	font-weight:bold;
	}
	
.answer {
	font-family: "ＭＳ ゴシック", Osaka;
	font-size: 12px;
	color: #333333;
	line-height: 1.5;
	text-align:left;
	}
	
.name {
	color: #006699;
	font-weight: bold;
	}

.copyright {
	font-size: 10px; color: #999999;	line-height: 1.6;
}



/*  リンクテキスト  */

A:link    {
	color: #3366FF; text-decoration: underline;
}
A:visited { 
	color: #6699CC; text-decoration: underline;
}
A:hover   { 
	text-decoration:underline; color: #00CCFF;
}


.loc_self {
 color: #0066FF; font-weight:bold;
}


table a:link {
	color: #FFFFFF; text-decoration: none;
	text-decoration:underline; 
	}

table a:visited{
	color: #FFFFFF; text-decoration: none;
	text-decoration:underline; 
	}

table a:hover {
	text-decoration:underline; color: #66FFFF;
	}