@charset "Shift_JIS";


/*========================================↓バンブラＤＸ*/


div#READ_BOX1 {
	background-image:url(https://www.nintendo.co.jp/nom/0807/bbdx1/img/read_bg.gif);
	}

div#READ_BOX2 {
	background-image:url(https://www.nintendo.co.jp/nom/0807/bbdx2/img/read_bg.gif);
	}

div#READ_BOX1 p.read_text {
	height:auto;
	margin:0;
	padding:20px 40px 0 120px;
	padding-right:40px;
	text-align:justify;
	text-justify:inter-ideograph;
	}


div.detail_box0, div.detail_box1 {/* 広い横幅 */
	width:780px;
	height:auto;
	margin:0 0 20px;
	padding:0;
	clear:both;
	}

div.detail_box1 {
	width:700px;
	margin:0 auto 20px;
	padding:0;
	clear:both;
	}

/*========================================↓詳細説明部分：固有設定*/

div.side_left {
	width:500px;
	height:auto;
	margin:0 auto;
	padding:0;
	float:left;
	}
div.side_right {
	width:260px;
	height:auto;
	margin:0;
	padding:0 4px 0 0;
	float:right;
	text-align:left;
	}

.screen_box {
	width:256px;
	height:auto;
	margin:0 0 20px;
	padding:0;
	}


.nom_text_s, .nom_text_l {
	width:460px;
	height:auto;
	margin:0 0 20px 40px;
	padding:0;
	text-align:justify;
	text-justify:inter-ideograph;
	}
.nom_text_l {
	width:700px;
	}

div.ninten_text, div.ninten_text2 {
	width:460px;
	height:auto;
	margin:0 0 20px 40px;
	padding:0;
	text-align:left;
	clear:both;
	}
div.ninten_text2 {
	margin:0;
	}

/*ここからハック*/
div.ninten_text:after, div.ninten_text2:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
div.ninten_text,div.interview_text2 {/* for IE7*/
    zoom:1;
	}
/*ここまでハック*/

div.ninten_text div.nin_name,
div.ninten_text2 div.nin_name {
	width:90px;
	height:auto;
	margin:0;
	padding:0;
	float:left;
	}

div.ninten_text div.nin_text,
div.ninten_text2 div.nin_text {
	width:370px;
	height:auto;
	margin:0;
	padding:0;
	background-image:url(https://www.nintendo.co.jp/nom/0807/cmn_img/fuki_bg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	float:right;
	}

div.ninten_text div.nin_text p.text ,
div.ninten_text2 div.nin_text p.text {
	padding:20px 20px 0;
	color:#765a00;
	font-size:12px;
	text-align:justify;
	text-justify:inter-ideograph;
	}

.em_col {
	color:#FF0000;
	}
.em_col2 {
	color:#9b7600;
	font-weight:bold;
	}
