@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2009/08/28;
	Site Name : N.O.M Nintendo Online Magazine No.134;
	About : N.O.M page CSS;

--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/


/*--- 01.body container wrapper
--------------------------------------------------------------------------*/

body {
	background-attachment:fixed;
}


/*--- 02.header
--------------------------------------------------------------------------*/


/*--- 03.main
--------------------------------------------------------------------------*/

.main {
	width:768px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/bg_top.jpg);
	background-position:0 0;
	background-repeat:no-repeat;
}

h2 {
	width:378px;
	height:30px;
	padding:20px 0 50px 346px;
}

h3 {
	width:620px;
	height:35px;
	margin:0 auto 10px;
}

.fukidashi {
	width:120px;
	height:65px;
	margin:-65px 0 0 106px;
}

.pagebtnbox {
	width:600px;
	margin:0 84px 20px;
	clear:both;
	text-align:right;
}

.pagebtnbox p {
	display:inline;
}

.readbox {
	width:620px;
	margin:0 auto;
	padding-bottom: 10px;
}

.member {
	width:230px;
	float:left;
}

.readtext {
	width:370px;
	float:right;
	margin:0;
}


/* for submenu */

.readtext-sub {
	width:580px;
	margin:25px 94px 20px;
}

.readtext-sub p {
	font-size:107%;
	line-height:1.7;
}

.submenubox {
	width:768px;
	height:370px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/bg_submenu.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	position:relative;
}

.subbtn {
	width:280px;
	height:40px;
	position:absolute;
	top:70px;
	left:74px;
}

.change-ds{
	width:350px;
	height:355px;
	position:absolute;
	top:15px;
	left:344px;
}


/*--- 04.interview
--------------------------------------------------------------------------*/

h4 {
	width:680px;
	height:30px;
	margin:0 auto;
	padding:20px 0 10px;
}

h5 {
	width:680px;
	height:20px;
	margin:20px auto 10px;
	clear:both;
}

.softbox {
	width:680px;
	margin:0 auto 30px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/block_bg.gif);
	background-position:0 0;
	background-repeat:repeat-y;
}

.softbox h4 {
	width:640px;
	height:30px;
	margin:10px auto;
	clear:both;
}


.softboxwrap {
	width:680px;
	margin:0 auto;
	padding-bottom:20px;
}

.softbox1-l, .softbox1-r {
	width:330px;
	margin:0;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/block_bg1.gif);
	background-position:0 0;
	background-repeat:repeat-y;
	float:left;
}

.softbox1-r {
	float:right;
}

.softinfobox,
.softinfobox1,
.softinfobox2,
.softinfobox3 {
	width:680px;
	height:90px;
	margin:0 auto;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/block_top.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	position:relative;
}

.softinfobox1 {
	width:330px;
	height:110px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/block_top1.gif);
}

.softinfobox2 {
	height:80px;
}

.softinfobox3 {
	height:80px;
}

.softtitle, .softtitle1 {
	width:460px;
	height:60px;
	position:absolute;
	top:20px;
	left:10px;
}

.softtitle1 {
	width:236px;
	top:50px;
}

.dsipoint, .dsipoint1 {
	width:135px;
	height:60px;
	position:absolute;
	top:0;
	left:545px;
}

.dsipoint1 {
	height:50px;
	position:absolute;
	top:0;
	left:195px;
}

.officiallink, .officiallink1, .officiallink2 {
	width:70px;
	height:40px;
	position:absolute;
	top:25px;
	left:475px;
}

.officiallink1 {
	top:55px;
	left:251px;
}

.officiallink2 {
	top:61px;
	left:576px;
}

.img-ds {
	width:330px;
}

.normalbox {
	margin:0;
}

.normalplay {
	width:166px;
	padding:0 20px 10px;
	float:left;
	display:inline;
}

.normalplay_pico {
	width:216px;
	padding:0 20px 10px;
	float:left;
	display:inline;
}

.superplay {
	width:380px;
	margin:0 auto;
	padding:10px 0 20px 115px;
}

.superplay_pico {
	width:380px;
	margin:0 auto;
	padding:10px 0 20px 115px;
}


.superplay p,
.superplay_pico p {
	float:left;
}

.normalplay-ss {
	width:166px;
	padding:0 20px 10px;
	float:left;
	display:block;
}


dl {
	margin:20px 0;
}

dl dt {
	font-size:93%;
	font-weight:bold;
}

dl dd {
	font-size:93%;
	padding:5px 0 0 1em;
}

.softtext3 {
	width:454px;
	margin:0 0 30px;
	float:left;
}

.softtext3w {
	width:640px;
	margin:0 auto;
}

.softtext3_pico {
	width:404px;
	margin:0 0 30px;
	float:left;
}

.softtext4 {
	width:410px;
	margin:0 0 30px;
	float:left;
}


.softtext3 p,
.softtext3w p,
.softtext4 p {
	font-size:93%;
	line-height:1.7;
	letter-spacing:0.1em;
}

.softinfotext1,
.softinfotext2 {
	width:290px;
	margin:0 20px;
	text-align:right;
}

.softinfotext2 {
	width:640px;
}

.softinfotext3 {
	width:640px;
	margin:0 auto -10px;
	text-align:right;
}

.softinfotext1 p,
.softinfotext2 p,
.softinfotext3 p {
	font-size:77%;
	line-height:1.5;
	letter-spacing:0.1em;
}

.softinfotext1 .copyrighttext,
.softinfotext2 .copyrighttext,
.softinfotext3 .copyrighttext {
	color:#999;
	line-height:1.5;
	margin:0;
}

.boxclear, .boxclear2 {
	width:680px;
	height:20px;
	margin:0;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/block_btm.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	clear:both;
}

.boxclear2 {
	height:10px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/block_btm2.gif);
}

.intbox {
	width:620px;
	margin:0 74px;
}

.nombox, .memberbox {
	width:620px;
	margin:0 auto 18px;
	clear:both;
}

.memberbox {
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/bg_inttext.gif);
	background-position:40px 0;
	background-repeat:no-repeat;
}

.nombox2, .memberbox2 {
	width:405px;
	float:left;
	margin:0 auto 18px;
}

.memberbox2 {
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/bg_inttext2.gif);
	background-position:40px 0;
	background-repeat:no-repeat;
}

.nombox, .nombox2 {
	margin:0 auto;
	padding:0 0 18px;
}

.nom-name, .int-name {
	width:35px;
	padding:0 2px 0 0;
	font-size:93%;
	line-height:1.7;
	font-weight:bold;
	text-align:right;
	float:left;
}

.nom-name {
	color:#ff458c;
}

.int-name {
	margin:0;
	padding:8px 0 0;
}

.nom-text, .nom-text2 {
	width:580px;
	color:#ff458c;
	font-size:93%;
	line-height:1.7;
	font-weight:bold;
	text-align:left;
	float:left;
}

.nom-text2 {
	width:350px;
}

.int-text, .int-text2 {
	width:520px;
	margin:0;
	padding:8px 20px 0 40px;
	text-align:left;
	float:left;
}

.int-text2 {
	width:290px;
}

.intclear, .intclear2 {
	width:580px;
	height:10px;
	margin:0 0 0 40px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/inttext_btm.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	clear:both;
}

.intclear2 {
	width:350px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/inttext_btm2.gif);
}

.int-photo {
	width:210px;
	margin:0 0 18px;
	float:right;
}

.kakomibox {
	width:640px;
	margin:20px auto;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/kakomi_base.gif);
	background-position:0 0;
	background-repeat:repeat-y;
}

.kakomi {
	width:600px;
	padding:0 20px;
}

.page-link {
	width:768px;
	height:90px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/bg_btm.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}

.kakomi_ss_l,
.kakomi_ss_r {
	width:166px;
	padding:0 20px 15px 0;
	float:left;
}

.kakomi_ss_r {
	padding:0 0 0 20px;
	float:right;
}

.page-link p {
	padding:10px 0 0;
	font-size:93%;
	text-align:center;
	color:#555555;
}

/*--- 05.link
--------------------------------------------------------------------------*/

.subbtn1,
.subbtn2,
.subbtn3 {
	display:block;
	width:270px;
	height:80px;
}

.subbtn1 a,
.subbtn2 a,
.subbtn3 a {
	display:block;
	width:270px;
	height:80px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/img/subbtn.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
}

.subbtn1 a:hover {
	background-position:-270px 0;
}

.subbtn2 a {
	background-position:0 -80px;
}

.subbtn2 a:hover {
	background-position:-270px -80px;
}

.subbtn3 a {
	background-position:0 -160px;
}

.subbtn3 a:hover {
	background-position:-270px -160px;
}

.btnofficial {
	display:block;
	width:70px;
	height:40px;
	background-image:url(https://www.nintendo.co.jp/nom/1003/imgcmn/btnofficial.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
}

.btnofficial:hover {
	background-position:0 -40px;
}

