@charset "Shift_JIS";

* {
	margin:0;
	padding:0;
	border:0;
	line-height:150%;
	/*font-family:"HiraKakuPro-W3","MS UI Gothic","MS Gothic";*/
}

.clear {
	clear:both;
}

a {
	outline:none;
}

p {
	font-family:"HiraKakuPro-W3","MS UI Gothic","MS Gothic";
	color:#FFFFFF;
	font-size:12px;
}

body {
	background:#000 url(https://www.nintendo.co.jp/nom/0810/img/map_bg_001.jpg) no-repeat center top;
	text-align:center;
	margin:0;
}

#mcontainer {
	width:780px;
	margin:0 auto;
	text-align:center;
}

#mwrapper {
	width:780px;
	margin:0 auto;
	text-align:left;
}

.maparea1 {
	width:780px;
	background:#000 url(https://www.nintendo.co.jp/nom/0810/img/map_line_001.jpg) repeat-y center top;
}

.maparea2 {
	width:780px;
	background:#000 url(https://www.nintendo.co.jp/nom/0810/img/map_center_001.jpg) no-repeat center top;
}

.smap {
	width:560px;
	margin:10px 30px 10px 30px;
	float:right;
	display:inline;
}

.tlink1 {
	font-size:10px;
	color:#FFF;
}

a:link {
	color:#FFF;
	text-decoration:underline;
}

a:visited {
	color:#FFF;
	text-decoration:underline;
}

a:hover {
	color:#CC0;
	text-decoration:underline;
}

.clear {
	clear:both;
}

.hide {
	position:absolute;
	left:-9999px;
	top:-9999px;
}
