@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2011/7/25;
	Site Name : N.O.M Nintendo Online Magazine No.157;
	About : N.O.M common-SS;

	00.common
	01.body
	02.main
	03.contents
	


--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/



/*--- 01.body 
--------------------------------------------------------------------------*/

body {
	font-size:13px;
	color:#737373;
	background-image:url(https://www.nintendo.co.jp/nom/1108/index2_img/bg_index2.jpg);
	background-position:center 0;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-color: #000000;
}


/*--- 02.main
--------------------------------------------------------------------------*/
    html {
    filter: expression(document.execCommand("BackgroundImageCache", false, true));
    }


/*--- 03.contents
--------------------------------------------------------------------------*/
.contents{
	width:768px;
	background-color:#FFFFFF;
	padding-top:30px;
	padding-bottom:30px;
}

.subtitle{
	margin:0 22px 30px 22px;
}

.read {
	width:723px;
	margin:30px 22px 30px 22px;
}

.contents_box{
	width:768px;
	height:854px;
	margin-bottom:30px;
	background-image:url(https://www.nintendo.co.jp/nom/1108/index2_img/bg_contents.jpg);
	background-position: center top;
	padding-top:20px;
}



.copyright {
	width:175px;
	height:11px;
	margin:0 297px 0 296px;
}

/*--- 04.contents_btn
--------------------------------------------------------------------------*/

#btnbox-1 , #btnbox-2 , #btnbox-3  {
	width:704px;
	height:196px;
	margin:0 42px 20px 22px;
	position:relative;
}

#btnbox-4 {
	width:352px;
	height:196px;
	margin:0 0 20px 22px;
	position:relative;
	float:left;
	display:inline;
}

#btnbox-5 {
	width:352px;
	height:196px;
	margin:0 0 20px 0;
	position:relative;
	float:left;
	display:inline;
}

#btnbox-1 p , #btnbox-2 p , #btnbox-3 p ,#btnbox-4 p ,#btnbox-5 p {
	display:block;
	height:196px;
	position:absolute;
	top:0;
	left:0;
}



#btnbox-1 p , #btnbox-2 p , #btnbox-3 p ,#btnbox-4 p {
	width:155px;
}
#btnbox-1 .btnnum1 ,#btnbox-2 .btnnum1 ,#btnbox-3 .btnnum1 ,#btnbox-4 .btnnum1 ,#btnbox-5 .btnnum1  {
	left:21px;
}
#btnbox-1 .btnnum2 ,#btnbox-2 .btnnum2 ,#btnbox-3 .btnnum2 ,#btnbox-4 .btnnum2 ,#btnbox-5 .btnnum2 {
	left:197px;
}
#btnbox-1 .btnnum3 ,#btnbox-2 .btnnum3 ,#btnbox-3 .btnnum3  {
	left:373px;
}
#btnbox-1 .btnnum4 ,#btnbox-2 .btnnum4 ,#btnbox-3 .btnnum4  {
	left:549px;
}



#btnbox-1 a ,#btnbox-2 a ,#btnbox-3 a ,#btnbox-4 a ,#btnbox-5 a {
	display:block;
	height:196px;
	background-position:0 0;
	background-repeat:no-repeat;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
}


#btnbox-1 p a {
	width:155px;
	background-image:url(https://www.nintendo.co.jp/nom/1108/index2_img/btn_01.gif);
}
#btnbox-2 p a {
	width:155px;
	background-image:url(https://www.nintendo.co.jp/nom/1108/index2_img/btn_02.gif);
}
#btnbox-3 p a {
	width:155px;
	background-image:url(https://www.nintendo.co.jp/nom/1108/index2_img/btn_03.gif);
}
#btnbox-4 p a {
	width:155px;
	background-image:url(https://www.nintendo.co.jp/nom/1108/index2_img/btn_04.gif);
}
#btnbox-5 p a {
	width:155px;
	background-image:url(https://www.nintendo.co.jp/nom/1108/index2_img/btn_05.gif);
}



#btnbox-1 .btn-btnnum1:hover ,#btnbox-2 .btn-btnnum1:hover ,#btnbox-3 .btn-btnnum1:hover ,#btnbox-4 .btn-btnnum1:hover ,#btnbox-5 .btn-btnnum1:hover  {
	background-position:0 -196px;
}
#btnbox-1 .btn-btnnum2 ,#btnbox-2 .btn-btnnum2 ,#btnbox-3 .btn-btnnum2 ,#btnbox-4 .btn-btnnum2 ,#btnbox-5 .btn-btnnum2  {
	background-position:-155px 0;
}
#btnbox-1 .btn-btnnum2:hover ,#btnbox-2 .btn-btnnum2:hover ,#btnbox-3 .btn-btnnum2:hover ,#btnbox-4 .btn-btnnum2:hover ,#btnbox-5 .btn-btnnum2:hover  {
	background-position:-155px -196px;
}
#btnbox-1 .btn-btnnum3 ,#btnbox-2 .btn-btnnum3 ,#btnbox-3 .btn-btnnum3  {
	background-position:-310px 0;
}
#btnbox-1 .btn-btnnum3:hover ,#btnbox-2 .btn-btnnum3:hover ,#btnbox-3 .btn-btnnum3:hover  {
	background-position:-310px -196px;
}
#btnbox-1 .btn-btnnum4 ,#btnbox-2 .btn-btnnum4 ,#btnbox-3 .btn-btnnum4  {
	background-position:-465px 0;
}
#btnbox-1 .btn-btnnum4:hover ,#btnbox-2 .btn-btnnum4:hover ,#btnbox-3 .btn-btnnum4:hover  {
	background-position:-465px -196px;
}


/* cyusyaku */
.notes-box {
	width:724px;
	margin:0;
	clear:both;
}

.notes-box p {
	font-size:77%;
	line-height:1.5;
}

.notes-num {
	width:20px;
	margin:8px 0 0;
	text-align:left;
	white-space:nowrap;
	float:left;
	display:inline;
}

.notes-text {
	width:696px;
	margin:8px 0 0;
	text-align:left;
	float:left;
	display:inline;
}

.notes-box .notes-text p {
	letter-spacing:0.05em;
}

.notes-box .notes-text a,
.notes-box .notes-text a:link,
.notes-box .notes-text a:visited,
.notes-box .notes-text a:hover {
	color:#34beed;
	text-decoration:underline;
}


.int-box .int-text p.photo,
.notes-box .notes-text p.photo {
	padding-top:10px;
}