@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2009/08/28;
	Site Name : N.O.M Nintendo Online Magazine No.134;
	About : N.O.M page CSS;

--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/


/*--- 01.body container wrapper
--------------------------------------------------------------------------*/

body {
	background-attachment:fixed;
}


/*--- 02.header
--------------------------------------------------------------------------*/


/*--- 03.main
--------------------------------------------------------------------------*/

.main {
	width:768px;
	height:160px;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/bg_top.jpg);
	background-position:0 0;
	background-repeat:no-repeat;
	position:relative;
}

h2 {
	width:256px;
	height:70px;
	position:absolute;
	top:20px;
	left:468px;
}

.pagebtnbox {
	width:320px;
	height:45px;
	position:absolute;
	top:100px;
	left:392px;
}

.pagebtn p {
	display:inline;
}

.readbox {
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/bg_read.jpg);
	background-position:0 0;
	background-repeat:no-repeat;
}

h3 {
	width:620px;
	height:50px;
	margin:0 auto;
}

.readtext {
	margin:0 auto 40px;
}

/*--- 04.interview
--------------------------------------------------------------------------*/

.softbox {
	width:680px;
	margin:0 auto 20px;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/block_bg.gif);
	background-position:0 0;
	background-repeat:repeat-y;
}

.softinfobox, .softinfobox2 {
	width:680px;
	height:90px;
	margin:0 auto;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/block_top.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	position:relative;
}

.softinfobox2 {
	height:120px;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/block_top_l.gif);
}

.softtitle, .softtitle-s, .softtitle2 {
	width:460px;
	height:60px;
	position:absolute;
	top:20px;
	left:10px;
}

.softtitle-s {
	width:390px;
}

.softtitle2 {
	width:460px;
	height:60px;
}

.dsipoint {
	width:135px;
	height:60px;
	position:absolute;
	top:0;
	left:545px;
}

.officiallink, .officiallink1, .officiallink2 {
	width:70px;
	height:40px;
	position:absolute;
	top:25px;
	left:475px;
}

.officiallink1 {
	top:25px;
	left:405px;
}

.officiallink2 {
	top:61px;
	left:576px;
}

.img-ss1, .img-ss1r, .img-ss2 {
	width:166px;
	margin:0;
	padding:0 20px;
	float:left;
	display:inline;
}

.img-ss1r {
	width:250px;
}

.img-ss2 {
	width:340px;
}

.img-ss-l {
	width:640px;
	margin:0 auto;
	clear:both;
}

.softtext1, .softtext1r, .softtext2 {
	width:454px;
	display:block;
	float:left;
}

.softtext1r {
	width:370px;
}

.softtext2 {
	width:280px;
}

.softtext3 {
	width:640px;
	margin:0 auto 10px;
}

.softtext1 p, .softtext2 p, .softtext3 p {
	font-size:93%;
	line-height:1.7;
	letter-spacing:0.05em;
}

p.catchcopy0,
p.catchcopy200,
p.catchcopy500,
p.catchcopy800 {
	color:#008aff;
	font-size:100%;
	font-weight:bold;
	margin:0 0 5px;
}

p.catchcopy200 {
	color:#6cd695;
}

p.catchcopy500 {
	color:#f78261;
}

p.catchcopy800 {
	/*color:#d9cd58;*/
	color:#bfae15;
}

p.copyrighttext {
	color:#999;
	font-size:77%;
	line-height:1.6;
	margin:5px 0 0;
}

.boxclear {
	width:680px;
	height:20px;
	margin:0;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/block_btm.gif);
	background-position:0 0;
	background-repeat:no-repeat;
	clear:both;
}

.page-link {
	width:768px;
	height:90px;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/bg_btm.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}

.page-link p {
	padding:10px 0 0;
	text-align:center;
	color:#555555;
}

/*--- 05.link
--------------------------------------------------------------------------*/

.pagebtn1, .pagebtn1s,
.pagebtn2, .pagebtn2s,
.pagebtn3, .pagebtn3s,
.pagebtn4, .pagebtn4s,
.pagebtn5, .pagebtn5s,
.pagebtn6, .pagebtn6s,
.pagebtn7, .pagebtn7s,
.pagebtn8, .pagebtn8s {
	display:block;
	width:40px;
	height:45px;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.pagebtn1:hover {
	background-position:0 -45px;
}

.pagebtn1s {
	background-position:0 -90px;
}

.pagebtn2 {
	background-position:-40px 0;
}

.pagebtn2:hover {
	background-position:-40px -45px;
}

.pagebtn2s {
	background-position:-40px -90px;
	text-indent:-9999px;
}

.pagebtn3 {
	background-position:-80px 0;
}

.pagebtn3:hover {
	background-position:-80px -45px;
}

.pagebtn3s {
	background-position:-80px -90px;
}

.pagebtn4 {
	background-position:-120px 0;
}

.pagebtn4:hover {
	background-position:-120px -45px;
}

.pagebtn4s {
	background-position:-120px -90px;
}

.pagebtn5 {
	background-position:-160px 0;
}

.pagebtn5:hover {
	background-position:-160px -45px;
}

.pagebtn5s {
	background-position:-160px -90px;
}

.pagebtn6 {
	background-position:-200px 0;
}

.pagebtn6:hover {
	background-position:-200px -45px;
}

.pagebtn6s {
	background-position:-200px -90px;
}

.pagebtn7 {
	background-position:-240px 0;
}

.pagebtn7:hover {
	background-position:-240px -45px;
}

.pagebtn7s {
	background-position:-240px -90px;
}

.pagebtn8 {
	background-position:-280px 0;
}

.pagebtn8:hover {
	background-position:-280px -45px;
}

.pagebtn8s {
	background-position:-280px -90px;
}

.btnofficial {
	display:block;
	width:70px;
	height:40px;
	background-image:url(https://www.nintendo.co.jp/nom/1002/imgcmn/btnofficial.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
}

.btnofficial:hover {
	background-position:0 -40px;
}

