@charset "Shift_JIS";

.for_sitemap {font-family:"ＭＳ Ｐゴシック"; font-size: 12px; line-height: 100%; color: #333333; }

.top_bg1 {
background: url(../top_img/topbg01.jpg) no-repeat scroll center top;
}

.top_bg2 {
background: url(../top_img/topbg02.jpg) no-repeat scroll center top;
}

