.TXT_M {
	FONT-SIZE: 14px; LINE-HEIGHT: 140%
}
.TXT_MB {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 140%
}
.TXT_MB2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 125%
}
.TXT_GS {
	FONT-SIZE: 10px; COLOR: #555555; LINE-HEIGHT: 140%
}
.TXT_S {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 140%
}
.TXT_SI {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 160%
}
.TXT_SS {
	FONT-SIZE: 10px; LINE-HEIGHT: 160%
}
.TXT_S2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 140%
}
.TXT_S3 {
	FONT-SIZE: 12px; LINE-HEIGHT: 110%
}
.TXT_WS {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #231F20; LINE-HEIGHT: 140%
}
A {
	TEXT-DECORATION: none; outline: 0px none black
}
A:link {
	COLOR: #0914EB; TEXT-DECORATION: none
}
A:visited {
	COLOR: #A1BA08; TEXT-DECORATION: none
}
A:hover {
	COLOR: #FE0263; BACKGROUND-COLOR: #FDE4EE; TEXT-DECORATION: underline
}
