@charset "Shift_JIS";

/* 基本設定(↓) */
body {
	margin:0px;
	padding:0px;
	background-color:#FFFFFF;
	text-align: center;
	font-family: "ＭＳ ゴシック", Osaka;
	font-size: 12px;
	color: #666666;
	line-height: 1.5em;
	}

img {
	border: none;
	margin: 0;
	padding:0;
	}

H1, H2 {
	display:inline;
	}
	
H1, H2, H3 {
 padding:0;
	margin:0 auto;
	clear:both;
}

/*　基本表示エリア（↓）*/
#main_area {
	width:720px;
	margin:0 auto;
	padding:0 0 0;
	text-align: center;
	}
	
#bg_image {
	width:100%;
	height:100%;
	background-image:url(https://www.nintendo.co.jp/nom/0802/img_cmn/bg.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	text-align:center;
	}

#sitemap_bg {
	width:720px;
	height:450px;
	background-image:url(https://www.nintendo.co.jp/nom/0802/img_top/sitemap_bg.gif);
	background-repeat: no-repeat;
	margin:0;
	padding:0;
	}

#contents_area {
	width:720px;
	margin:0 auto;
	padding:0 0 0;
	text-align: center;
	background-color:#FFFFFF;
	}
	
/*　表示位置（↓）*/
td.v_top {
 vertical-align: top;
	}
td.v_middle {
 vertical-align: middle;
	}
td.v_bottom {
 vertical-align: bottom;
	}

.centering {
 text-align: center;
	margin: auto;
}



/*  リンクテキスト  */
A:link    {
	color: #0066FF; font-weight:bold;	font-family: "ＭＳ ゴシック", Osaka;

}
A:visited { 
	color: #9999CC; font-weight:bold;
}
A:hover   { 
	text-decoration:underline; color: #34beed;
}


/*  フッター用リンクテキスト  */
#footer A:link    {
	font-size: 10px;
	color: #0066FF; font-weight:bold;	font-family: "ＭＳ ゴシック", Osaka;
}
#footer A:visited { 
	font-size: 10px;
	color: #9999CC; font-weight:bold;
}
#footer A:hover   { 
	font-size: 10px;
	text-decoration:underline; color: #34beed;
}

/*  サイトマップ用リンクテキスト  */
#sitemap_bg A:link    {
	color: #666666; font-weight:bold;	font-family: "ＭＳ ゴシック", Osaka;
}
#sitemap_bg A:visited { 
	color: #9999CC; font-weight:bold;
}
#sitemap_bg A:hover   { 
	text-decoration:underline; color: #34beed;
}
