@charset "Shift_JIS";

/* 画像表示(↓) */
P .float_l {
	float: left;
	margin:0px 5px 1px 2px;
	}

.float_r {
	float: right;
	margin:0px 5px 1px 8px;
	}

.float_l2 {
	float: left;
	width: 280px;
	}

.float_r2 {
	float: right;
	width: 280px;
	}

.float_l3 {
	float: left;
	margin:0px 5px;
	}

.float_r3 {
	float: right;
	margin:0px 5px;
	}

.tb_padding {
	padding :15px 0;
	margin: 0;
	}

#column {
	width:653px;
	background-image:url(https://www.nintendo.co.jp/nom/0802/p2/img/column_bg.gif);
	background-repeat:repeat-y;
	padding:0;
	margin: 0 auto;
	clear:both;
		}

#odai {
	width:653px;
	background-image:url(https://www.nintendo.co.jp/nom/0802/p1/img/odai_bg.gif);
	background-repeat:repeat-y;
	padding:0;
	margin: 0 auto;
		}

#attention {
	width:668px;
	background-image:url(https://www.nintendo.co.jp/nom/0802/p1/img/attention_bg.gif);
	background-repeat:repeat-y;
	padding:0;
	margin: 0 auto;
	clear:both;
	
		}

/*　キャッチ＆リード（↓）*/
#catch {
	padding: 0;
	}

#lead {
	padding: 0;
	}

.clear_both {
	clear:both;
	padding: 0;
	margin: 0;
}

/*　フッタ－エリア（↓）*/
#footer {
	width: 720px;
	height: 43px;
	padding: 14px 0 10px 0;
	margin:0;
	background-image:url(https://www.nintendo.co.jp/nom/0802/img_cmn/footer_base.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align:center;
	}

.link_left {
	float: left;
	margin: 0 100px 0 20px;
	width:450px;
	text-align:left;
}

.link_right {
	float: right;
	margin: 0 20px 0 0;
	}

/*　枠（↓）*/
#waku_bg {
	width:720px;
	height:auto;
	background-image:url(https://www.nintendo.co.jp/nom/0802/img_cmn/waku_bg.gif);
	background-repeat:y-repeat;
	margin:0 auto;
	padding:15px 0 10px 0;
	}

.W580 {
 width: 560px;
	padding: 0;
	margin: 0;
	}

.W500 {
 width: 520px;
	text-align:center;
	}

.W668 {
 width: 668px;
	margin:0 auto;
	}
