@charset "Shift_JIS";

/*↓ブラウザ初期化は「set_reset.css」で行っています*/

/*↓基本設定====================*/
/*↓Firefoxでのスクロールバーの横ズレの設定、ただしＩＥが影響を受ける*/
/*今回はbodyのhightに100%を使っているため、ＩＥにはもともとスクロールが出てる。*/
/*ただしOperaは解決できない。*/
html {
	height:100%;
	overflow-y:scroll;
	/*↓この２行でOperaも解消できるが、背景画像が1px分描画されなくなる。*/
	/*そのためページのデザインによって使えるかどうか限られてしまう。*/
	/*height:100%;
	margin-bottom:1px;*/
	}
/*↑ここまで*/

body {
	height:100%;
	color:#333;
	background:#fff;
	background-image:url(https://www.nintendo.co.jp/nom/0807/cmn_img/bg.gif);
	background-position:center top;
	font:normal normal normal 100%/1.6 "ＭＳ ゴシック","ヒラギノ角ゴ Pro W3",Osaka;
	text-align:center;
	}

li {
	line-height:1em;
	}

/*Hides from IE5-mac ￥*/
* html ul li {
	height:auto;
}
/*End hide from IE5-mac */

/*↓基本リンク指定====================*/
a, a:link {
	color:#333;
	text-decoration:underline;
	}
a:visited {
	color:#333;
	text-decoration:underline;
	}
a:hover {
	color:#557c05;
	}
a:active {
	color:#557c05;
	}

/*___________________________________________________________↓共通ID指定*/

div#CONTENT {/*ページ全体*/
	width:780px;
	height:100%;
	min-height:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
	clear:both;
	}
/*ここからハック*/
div#CONTENT:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
div#CONTENT {/* for IE7*/
    zoom:1;
	}
body > div#CONTENT {
	height:auto;
}
/*ここまでハック*/


/*========================================↓HEADER：共通指定*/

div#HEADER {/*固定ロゴ部分*/
	width:780px;
	height:auto;
	margin:0 auto;
	padding:0;
	text-align:center;
	clear:both;
	}
/*ここからハック*/
div#HEADER:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
div#HEADER {/* for IE7*/
    zoom:1;
	}
/*ここまでハック*/

div#HEADER h1 {
	width:330px;
	height:40px;
	margin:0;
	padding:0;
	float:right;
	}

/*========================================↓コーナータイトル部分指定*/

div#C_TITLE1, div#C_TITLE2, div#C_TITLE3 {/*タイトルと戻りボタン部分*/
	width:780px;
	height:auto;
	margin:0;
	padding:0;
	text-align:center;
	clear:both;
	}
div#C_TITLE2 {/*ソフト情報なしの時*/
	margin:0 0 40px;
	}
div#C_TITLE3 {/*用語解説*/
	margin:0 0 30px;
	}
/*ここからハック*/
div#C_TITLE1:after, div#C_TITLE2:after, div#C_TITLE3:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
div#C_TITLE1, div#C_TITLE2, div#C_TITLE3 {/* for IE7*/
    zoom:1;
	}
/*ここまでハック*/


div#LR_LINK {
	width:780px;
	height:30px;
	margin:0 auto;
	padding:0;
	background-image:url(https://www.nintendo.co.jp/nom/0807/cmn_img/lrlink_bg.gif);
	background-repeat:repeat-x;
	clear:both;
	}
/*ここからハック*/
div#LR_LINK:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
div#LR_LINK {/* for IE7*/
    zoom:1;
	}
/*ここまでハック*/

/*========================================↓FOOTER：下部リンク指定*/

div#FOOTER {
	width:780px;
	height:50px;
	margin:0 auto;
	padding:0;
	text-align:center;
	clear:both;
	}

div#FOOTER p.imglink_box_btm {
	width:280px;
	height:30px;
	margin:0 0 20px;
	padding:0;
	float:right;
	}

/*========================================↓MAIN：共通指定*/

div#MAIN {/*メインコンテンツ部分*/
	width:780px;
	height:auto;
	margin:0 auto;
	padding:0;
	text-align:center;
	clear:both;
	font-size:12px;
	line-height:20px;
	background-image:url(https://www.nintendo.co.jp/nom/0807/cmn_img/cnt_bg.gif);
	background-position:center;
	background-repeat:repeat-y;
	}
/*ここからハック*/
div#MAIN:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
div#MAIN {/* for IE7*/
    zoom:1;
	}
/*ここまでハック*/


h2 {/* ブロック見出し */
	width:780px;
	height:auto;
	margin:0;
	padding:0;
	clear:both;
	display:block;
	}
/*ここからハック*/
h2:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
h2 {/* for IE7*/
    zoom:1;
	}
/*ここまでハック*/

h3, h4 {/* ブロック見出し */
	width:780px;
	height:30px;
	margin:0 auto 20px;
	padding:0;
	clear:both;
	display:block;
	}
/*ここからハック*/
h3:after, h4:after {
	content:".";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
	}
h3, h4 {/* for IE7*/
    zoom:1;
	}
/*ここまでハック*/

.hidden {
	display:none;
	}
