<div class="screen-only">
  {% if page.buttons.wii-u %}
      <a href="#wii-u" class="btn btn-sm btn-primary mt1">
        Wii U
      </a>
  {% endif %}

  {% if page.buttons.3ds %}
      <a href="#3ds" class="btn btn-sm btn-primary mt1">
        3DS
      </a>
  {% endif %}

  {% if page.buttons.wii %}
      <a href="#wii" class="btn btn-sm btn-primary mt1">
        Wii
      </a>
  {% endif %}

  {% if page.buttons.nds %}
      <a href="#nds" class="btn btn-sm btn-primary mt1">
        NDS
      </a>
  {% endif %}

  {% if page.buttons.etc %}
      <a href="#其他" class="btn btn-sm btn-primary mt1">
        其他
      </a>
  {% endif %}

  {% if page.buttons.cht-hk %}
      <br><a href="https://benbenzi.games/interviews/interviews-cht-hk/" class="btn btn-sm btn-primary mt1">
        官方繁中版
      </a>
  {% endif %}

  {% if page.buttons.en %}
      <a href="https://benbenzi.games/interviews/interviews-en/" class="btn btn-sm btn-primary mt1">
        官方英文版
      </a>
  {% endif %}

  {% if page.buttons.new %}
      <a href="https://benbenzi.games/interviews/interviews-new/" class="btn btn-sm btn-primary mt1">
        新时代-开发者访谈
      </a>
  {% endif %}
</div>
