@charset "Shift_JIS";

a{
	color:#ff458c;
	text-decoration:underline;
}


#page1-head01{
	width:768px;
}

#page1-head02{
	width:768px;
	background-color:#FFFFFF;
}

#main01{
	width:768px;
}

#main02{
	width:668px;
	padding:0 50px 0 50px;
}


.head-line01{
	width:768px;
	height:12px;
	padding:6px 0 22px 0;
}

.page1-line01{
	width:768px;
	height:4px;
	padding:23px 0 23px 0;
}

.page-line-001{
	width:768px;
	height:6px;
    padding:32px 0 0 0;
}

.main-bg-001{
	width:768px;
	background-image:url(https://www.nintendo.co.jp/nom/1004/page_img/bg_img_001.jpg);
    background-repeat:repeat-y;
	background-position:0 0;
	padding:0;
}


.ds-title-001{
	width:768px;
	height:110px;
	padding:0 0 20px 0;
}

.ds-title-002{
	width:768px;
	height:110px;
}

.main-title01{
	width:382px;
	height:38px;
	padding:0;
}

.main-page01{
	font-size:12px;
	line-height:18px;
	color:#555555;
	text-align:right;
	padding:0 0 24px 0;
}

.main-page02{
	font-size:12px;
	line-height:18px;
	color:#555555;
	text-align:center;
	padding:22px 0 0 0;
}


/* member start*/

.page1-img-002{
	width:50px;
	height:210px;
	float:left;
	background-image:url(https://www.nintendo.co.jp/nom/1004/page_img/page1_img_002.jpg);
    background-repeat:repeat-y;
	background-position:0 0;
}

.page1-img-003{
	width:168px;
	padding:0 26px 0 26px;
	float:left;
}

.page1-img-005{
	width:208px;
	padding:0 26px 0 0;
	float:left;
}

.page1-img-007{
	width:170px;
	padding:0 44px 0 0;
	float:left;
}

.page1-img-009{
	width:50px;
	height:210px;
    float:right;
	background-image:url(https://www.nintendo.co.jp/nom/1004/page_img/page1_img_009.jpg);
    background-repeat:repeat-y;
	background-position:0 0;
}

/* member end */

.main-img-001{
	width:240px;
	height:160px;
	float:right;
}

.main-text01{
	width:668px;
	padding:20px 0 20px 0;
}

.main-text02{
	width:668px;
	padding:0 0 20px 0;
}


.text001{
	width:45px;
	font-size:13px;
	color:#0075a9;
	float:left;
	text-align:right;
}

.text002{
	width:623px;
	font-size:13px;
	color:#0075a9;
	float:right;
	padding:0;
}

.text003{
	width:45px;
	font-size:13px;
	color:#fb4169;
	float:left;
	text-align:right;
}

.text004{
	width:351px;
	font-size:13px;
	line-height:20px;
	color:#555555;
	float:left;
	padding:0 20px 0 12px;
}

.text005{
	width:611px;
	font-size:13px;
	line-height:20px;
	color:#555555;
	float:left;
	padding:0 0 0 12px;
}


