@charset "shift_jis";
/* CSS Document */

/*---------------------------------------------------------------------
Style Reset
---------------------------------------------------------------------*/
/* -- html -- */
*    {margin:0;padding:0;} 


ol, ul {list-style:none;}



/* popup layout */
#bg-layer	{position:fixed; top:0; left:0; display:none; width:100%; height:100%; background:#000; opacity:0.6; filter:alpha(opacity=60);}
* html #bg-layer {height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); position:absolute;}

.fadebox		{position:absolute; z-index:9999; display:none; width:692px; height:594px;}
.boxTitle		{position:absolute; top:30px; left:20px; width:652px; height:47px; overflow:hidden;}
.memoName		{text-align:center; padding-top:88px;}
#outer			{position:absolute; top:160px; left:149px;}


  .group_select				{background:url(https://www.nintendo.co.jp/nom/1201/page1/images/bg_box-select.gif) no-repeat left top;}
  .group_select .boxTitle	{background:url(https://www.nintendo.co.jp/nom/1201/page1/images/title_box-select.gif) no-repeat left top;}

    #controler	{position:absolute; top:520px; left:20px; width:652px;}
	#controler li	{position:absolute;}
	
	
	#controler li.close	{background:url(https://www.nintendo.co.jp/nom/1201/page1/images/btn_close.gif) no-repeat left top; width:204px; height:29px; top:0; left:220px; text-indent:-9999px;}
	#controler li a		{display:block; overflow:hidden; height:29px;}
	
	#controler li.close a	{background:url(https://www.nintendo.co.jp/nom/1201/page1/images/btn_close.gif) no-repeat left top; width:204px; height:29px;}
	
	#controler li.close a:hover {background:url(https://www.nintendo.co.jp/nom/1201/page1/images/btn_close_on.gif) no-repeat left top; width:204px; height:29px;}
	
/* 外部popup layout */
#popup	{padding-top:30px; background:#FFFFFF;}
#popup .fadebox	{margin:0 auto; position:relative; display:block;}