@charset "Shift_JIS";


.maru img{
	vertical-align: middle;
}

#wwbg {
	background: url(https://www.nintendo.co.jp/nom/0809/img/bg.gif) repeat;
}


#title p{
	float: left;
}

#soft1,
#soft2 {
	margin-left: 15px;
}


#list_bg {
	display: block;
	width: 720px;
	text-align: center;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/linebg.gif) repeat-y;
}

#go_top1{
	float: right;
	position: relative;
	display: block;
	width: 360px;
	height: 83px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/ww3.jpg) no-repeat;
}

#go_top1 a{
	position: absolute;
	left: 235px;
	display: block;
	width: 105px;
	height: 28px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gotop_btn1.jpg) no-repeat;
}

#go_top1 a:hover{
	
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gotop_btn1.jpg) no-repeat 0 -28px;
}


.go_pre {
	float: left;	
	margin-top: 4px;
	margin-left: 58px;
	display: inline;
	width: 111px;
	height: 25px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/pre_btn.jpg) no-repeat 0 -100px;
}

.go_pre a {
	display: block;
	width: 111px;
	height: 25px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/pre_btn.jpg) no-repeat 0 0;
}

.go_pre a:hover {
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/pre_btn.jpg) no-repeat 0 -25px;
}

.go_nex {
	float: right;
	margin-top: 4px;
	margin-right: 58px;
	display: inline;
	width: 111px;
	height: 25px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/nex_btn.jpg) no-repeat 0 -100px;
}

.go_nex a {
	display: block;
	width: 111px;
	height: 25px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/nex_btn.jpg) no-repeat 0 0;
}

.go_nex a:hover {
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/nex_btn.jpg) no-repeat 0 -25px;
}

.go_moreinfo a {
	display: block;
	width: 302px;
	height: 41px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/go_moreinfo.jpg) no-repeat 0 0;
}

.go_moreinfo a:hover{
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/go_moreinfo.jpg) no-repeat 0 -41px;
}

#go_top2{
	display: block;
	width: 208px;
	height: 40px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gotop_btn2.jpg) no-repeat;
}

#go_top2 a{
	display: block;
	width: 208px;
	height: 40px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gotop_btn2.jpg) no-repeat 0 0;
}

#go_top2 a:hover{
	
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gotop_btn2.jpg) no-repeat 0 -40px;
}

#go_photoc {
	display: block;
	width: 285px;
	height: 40px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gophotoc_btn.jpg) no-repeat;
}

#go_photoc a {
	display: block;
	width: 285px;
	height: 40px;
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gophotoc_btn.jpg) no-repeat 0 0;
}

#go_photoc a:hover {
	
	background: url(https://www.nintendo.co.jp/nom/0809/wiiware/img/gophotoc_btn.jpg) no-repeat 0 -40px;
}
