@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2011/4/25;
	Site Name : N.O.M Nintendo Online Magazine No.154;
	About : N.O.M common-SS;

	00.common
	01.body container wrapper
	02.header
	03.main
	04.interview
	05.link
	06.footer


--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/

* {
	margin:0;
	padding:0;
	border:0;
	font-family:"MS P Gothic","MS Gothic","Hiragino Kaku Gothic Pro W3","HiraKakuPro-W3","Hiragino Kaku Gothic Pro","Meiryo";/**/
	font-weight:normal;
	line-height:1.6;
	outline:none;
	/*For IE Only*/
	/*word-break:break-all;
	line-break:normal;*/
}

/** html p {
	font-size:small;
	font-size:93%;
}*/

img {
	margin:0;
	padding:0;
	border:0;
}

img, div { behavior: url(https://www.nintendo.co.jp/nom/1105/css/iepngfix.htc); }

a {
	outline:none;
}

.clear {
	clear:both;
}

a {
	color:#0ec0ff;
	text-decoration:underline;
}

p {
	margin:0;
	padding:0;
}

li {
	color:#006ebc;
	list-style:none;
}

li a {
	color:#f08200;
}


/*--- 01.body container wrapper
--------------------------------------------------------------------------*/

body {
	font-size:13px;
	color:#737373;
	background-image:url(../common-img/t-bg01.gif);
	background-position:0 0;
	background-repeat:repeat;
	background-attachment:fixed;
}

#container {
	width:768px;
	margin:0 auto;
	text-align:center;
}

#wrapper {
	width:768px;
	margin:0 auto;
	text-align:left;
}

/*--- 03.main
--------------------------------------------------------------------------*/

.t-contents01 {
	width:768px;
	background-image:url(../common-img/t-bg02.gif);
	background-repeat:repeat-y;
	background-position:0 0;
}

.pagearea {
	width:253px;
	heght:18px;
	padding:14px 28px 36px 487px;
}

.pagearea_p3 {
	width:253px;
	heght:18px;
	padding:14px 28px 16px 487px;
}

.page-img {
	padding:0 10px 0 0;
	float:left;
}

.page-btn01 {
	width:30px;
	height:18px;
	padding:0 14px 0 0;
	float:left;
}

.page-btn02 {
	width:31px;
	height:18px;
	padding:0 25px 0 0;
	float:left;
}

.page-btn03 {
	width:72px;
	height:18px;
	float:right;
}


.btn01 {
	display:block;
	width:30px;
	height:18px;
	background-image:url(../common-img/btn01.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn02 {
	display:block;
	width:30px;
	height:18px;
	background-image:url(../common-img/btn02.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn03 {
	display:block;
	width:31px;
	height:18px;
	background-image:url(../common-img/btn03.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.topbtn {
	display:block;
	width:72px;
	height:18px;
	background-image:url(../common-img/topbtn.gif);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn01:hover , .btn02:hover , .btn03:hover , .topbtn:hover {
	background-position:0 -18px;
}

.btn01_now {
	display:block;
	width:30px;
	height:18px;
	background-image:url(../common-img/btn01.gif);
	background-repeat:no-repeat;
	background-position:0 -18px;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn02_now {
	display:block;
	width:30px;
	height:18px;
	background-image:url(../common-img/btn02.gif);
	background-repeat:no-repeat;
	background-position:0 -18px;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn03_now {
	display:block;
	width:30px;
	height:18px;
	background-image:url(../common-img/btn03.gif);
	background-repeat:no-repeat;
	background-position:0 -18px;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

h2 {
	width:736px;
	padding:0 28px 20px 4px;
}

.h2-a {
	width:736px;
	padding:0 28px 14px 4px;
}

h3 {
	width:716px;
	padding:0 0 24px 0;
}

.h3-a {
	width:716px;
	padding:0 0 22px 0;
}

.textarea01 {
	width:716px;
	margin:0 auto;
	padding:0 0 40px 0;
}

.textarea02 {
	width:676px;
	margin:0 auto;
	padding:0 0 26px 0;
}

.textarea02a {
	width:676px;
	margin:0 auto;
	padding:26px 0 0 0;
}

.textarea02b {
	width:676px;
	margin:0 auto;
	padding:26px 0 26px 0;
}

.textarea02c {
	width:676px;
	margin:0 auto;
	padding:0;
}

.img01 {
	width:470px;
	margin:0 auto;
}

.img02 {
	width:470px;
	margin:0 auto;
	padding:0 0 26px 0;
}

.img03 {
	width:646px;
	margin:0 auto;
}

.img03a {
	width:646px;
	margin:0 auto;
	padding:26px 0 0 0;
}

.img04 {
	width:370px;
	margin:0 auto;
	padding:26px 0 0 0;
}

.img05 {
	width:680px;
	margin:0 auto;
}



.staff01 {
	width:680px;
	margin:0 auto;
}

.staff02 {
	width:680px;
	background-image:url(../common-img/qa-bg.gif);
	background-repeat:repeat-y;
	background-position:0 0;
	margin:0 auto;
}

.qa-a {
	width:43px;
	padding:0 20px 0 24px;
	float:left;
}

.qa-text {
	width:404px;
	padding:0 0 10px 0;
	float:left;
}

.qa-text_1 {
	width:404px;
	padding:0 0 18px 0;
}

.qa-img {
	width:189px;
	float:right;
}

.text-caption {
	width:676px;
	margin:0 auto;
	padding:20px 0 0 0;
	font-size:10px;
}

.text-caption_1 {
	width:18px;
	margin:0 auto;
	padding:0;
	font-size:10px;
	float:left;
}

.text-caption_2 {
	width:658px;
	margin:0 auto;
	padding:0;
	font-size:10px;
	float:right;
}

.qa-caption {
	width:404px;
	padding:00;
	font-size:10px;
}

.qa-caption_1 {
	width:18px;
	padding:0;
	font-size:10px;
	float:left;
}

.qa-caption_2 {
	width:386px;
	padding:0;
	font-size:10px;
	float:right;
}

.roma01 {
	width:676px;
	margin:0 auto;
}

.roma02 {
	width:339px;
	padding:0 0 26px 0;
	float:left;
}

.roma02 p {
	width:339px;
	padding:0 0 26px 0;
}

.roma03 {
	width:307px;
	padding:0 0 0 26px;
	float:right;
}


/*--- 06.footer
--------------------------------------------------------------------------*/

.footer01 {
	width:716px;
	padding:0 0 10px 0;
	margin:0 auto;
}

.footer01a a {
	color:#12b7f7;
}

.footer02 {
	width:450px;
	margin:0 auto;
	padding:8px 0 20px 0;
	text-align:left;
}


.page-end {
	width:400px;
	padding:20px 0 60px 20px;
	float:left;
}

.page-end a {
	color:#FFFFFF;
}

