@charset "Shift_JIS";

* {
	margin:0;
	padding:0;
	border:0;
	/*font-family:"HiraKakuPro-W3","MS UI Gothic","MS Gothic";*/
}

.clear {
	clear:both;
}

a {
	outline:none;
}

p {
	font-family:"HiraKakuPro-W3","MS UI Gothic","MS Gothic";
}

body {
	background:#0099CC url(https://www.nintendo.co.jp/nom/0808/wariols/common/wariols_bg_001.jpg) no-repeat center top;
	text-align:center;
	margin:0;
}

#wicontainer {
	width:780px;
	margin:0 auto;
	text-align:center;
}

#wiwrapper {
	width:780px;
	margin:0 auto;
	text-align:left;
}

#wimain {
	width:780px;
	background:#FFF repeat center top;
	margin:10px 0 0 0;
}

#wifoot {
	width:780px;
	height:94px;
	margin:0 0 20px 0;
	background:#FFF url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/foot_001.jpg) no-repeat center top;
}

.wibox1 {
	width:780px;
}

.wibox2 {
	width:780px;
	height:40px;
	background:url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/btn_bg_001.jpg) no-repeat center top;
	float:left;
}

.wibox3 {
	width:280px;
	height:40px;
	margin:0 0 0 465px;
	display:inline;
	float:left;
}

.wibox4 {
	width:146px;
	height:11px;
	margin:0 0 0 605px;
	float:left;
	display:inline;
}

.wibox5 {
	width:780px;
	height:56px;
	background:url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/page_link_bg_001.jpg) no-repeat center top;
	float:left;
}

.wibox6 {
	width:780px;
	margin:0 0 25px 0;
	float:left;
}

.wibox7 {
	width:41px;
	margin:28px 10px 0 47px;
	float:left;
	display:inline;
}

.wibox8 {
	width:41px;
	margin:3px 10px 0 47px;
	float:left;
	display:inline;
}

.wibox9 {
	width:238px;
	margin:0;
	float:left;
	display:inline;
}

.wibox10 {
	width:495px;
	margin:0;
	float:left;
	display:inline;
}

.wibox11 {
	width:780px;
	margin:0;
	float:left;
}

.wibox12 {
	width:780px;
	height:32px;
	margin:20px 0 0 0;
	float:left;
	/*background:#FFF repeat center top;*/
}

.wibox13 {
	width:281px;
	height:32px;
	margin:0;
	float:left;
}

.wibox14 {
	width:461px;
	height:32px;
	margin:0;
	float:right;
}

.wibox15 {
	width:410px;
	height:316px;
	margin:0 0 0 185px;
	float:left;
	display:inline;
}

.wiimg1 {
	float:left;
	margin:0 0 0 28px;
}

.witext1 {
	width:632px;
	margin:25px 0 0 0;
	line-height:150%;
	font-size:12px;
	float:left;
	display:inline;
}

.witext2 {
	width:632px;
	margin:0;
	line-height:150%;
	font-size:12px;
	float:left;
	display:inline;
}

.witext3 {
	width:374px;
	margin:0 0 25px 0;
	line-height:150%;
	font-size:12px;
	float:left;
}

.witext4 {
	width:374px;
	margin:0 0 0 0;
	line-height:150%;
	font-size:12px;
	float:left;
}

.witext5 {
	width:374px;
	margin:25px 0 0 0;
	line-height:150%;
	font-size:12px;
	float:left;
}

.witext6 {
	width:632px;
	margin:25px 0 0 0;
	padding:0 0 25px 0;
	line-height:150%;
	font-size:12px;
	float:left;
	display:inline;
}

.wibtn1 {
	display:block;
	width:280px;
	height:40px;
	background-image:url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:1%;
	float:left;
}

.wibtn1:hover {
	background-position:0 -40px;
}

.wibtn2 {
	display:block;
	width:146px;
	height:11px;
	background-image:url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/site_btn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:1%;
	float:left;
}

.wibtn2:hover {
	background-position:0 -11px;
}

.wibtn3 {
	display:block;
	width:281px;
	height:32px;
	background-image:url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:1%;
	float:left;
}

.wibtn3:hover {
	background-position:0 -32px;
}

.wibtn4 {
	display:block;
	width:461px;
	height:32px;
	background-image:url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:1%;
	float:left;
}

.wibtn4:hover {
	background-position:0 -32px;
}

#wiplbtn1 {
	width:210px;
	height:42px;
	margin:9px 0 0 79px;
}

#wiplbtn1 li {
    float:left;
	/*font-size:1%;*/
	/*line-height:1%;*/
	text-indent:-9999px;
	list-style-type:none;
}
	
#wiplbtn1 li a {
	display:block;
	height:42px;
	background:url(https://www.nintendo.co.jp/nom/0808/wariols/interview/img/page_link_btn_001.jpg) no-repeat;
	text-decoration:none;
	overflow:hidden;
}

li#wiplbtn1a a {
	width:42px;
	background-position:0 0;
}

li#wiplbtn1a a:hover {
	width:42px;
	background-position:0 -42px;
}

li#wiplbtn2a a {
	width:42px;
	background-position:0 -42px;
}

li#wiplbtn2a a:hover {
	width:42px;
	background-position:0 -42px;
}

li#wiplbtn1b a {
	width:42px;
	background-position:-42px 0;
}

li#wiplbtn1b a:hover {
	width:42px;
	background-position:-42px -42px;
}

li#wiplbtn2b a {
	width:42px;
	background-position:-42px -42px;
}

li#wiplbtn2b a:hover {
	width:42px;
	background-position:-42px -42px;
}

li#wiplbtn1c a {
	width:42px;
	background-position:-84px 0;
}

li#wiplbtn1c a:hover {
	width:42px;
	background-position:-84px -42px;
}

li#wiplbtn2c a {
	width:42px;
	background-position:-84px -42px;
}

li#wiplbtn2c a:hover {
	width:42px;
	background-position:-84px -42px;
}

li#wiplbtn1d a {
	width:42px;
	background-position:-126px 0;
}

li#wiplbtn1d a:hover {
	width:42px;
	background-position:-126px -42px;
}

li#wiplbtn2d a {
	width:42px;
	background-position:-126px -42px;
}

li#wiplbtn2d a:hover {
	width:42px;
	background-position:-126px -42px;
}

li#wiplbtn1e a {
	width:42px;
	background-position:-168px 0;
}

li#wiplbtn1e a:hover {
	width:42px;
	background-position:-168px -42px;
}

li#wiplbtn2e a {
	width:42px;
	background-position:-168px -42px;
}

li#wiplbtn2e a:hover {
	width:42px;
	background-position:-168px -42px;
}

a:link {
	color:#00B7EE;
	text-decoration:none;
}

a:visited {
	color:#00B7EE;
	text-decoration:none;
}

a:hover {
	color:#F39700;
	text-decoration:underline;
}

.tspace {
	padding:20px 0 0 0;
}

.tmark {
	width:9px;
	margin:2px 4px 0 30px;
	float:left;
	display:inline;
}

.ttext2 {
	width:120px;
	display:inline;
	float:left;
	line-height:150%;
	font-size:9px;
}

.smap {
	width:680px;
	margin:20px 50px 0 50px;
}

.stext1 {
	font-size:12px;
	line-height:150%;
}
