@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2010/11/29;
	Site Name : N.O.M Nintendo Online Magazine No.149;
	About : N.O.M shop-page2 SS;

	00.common
	01.body container wrapper
	02.header
	03.main


--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/

/*--- 03.main
--------------------------------------------------------------------------*/

.s-p2{
	width:702px;
	padding:0 25px 0 41px;
}

.p2-staff{
	width:605px;
	margin:0 57px 24px 40px;
}

.p2-goods01{
	width:702px;
	background-image:url(https://www.nintendo.co.jp/nom/1012/shop-page2/img/p2_bg01.jpg);
	background-repeat:repeat-y;
	background-position:0 0;
}

.p2-goods02{
	width:638px;
	margin:0 auto;
}

.p2-goods03{
	padding:0 0 14px 0;
}

.p2-goods03a{
	padding:0 0 25px 0;
}

.p2-goods-img{
	width:212px;
	padding:0 25px 0 0;
	float:left;
}

.p2-goods-info{
	width:401px;
	float:right;
}

.p2-goods-info1{
	padding:0 0 24px 0;
}

.p2-goods-text{
	padding:0;
}

.p2-goods-caption{
	width:401px;
	padding:20px 0 0 0;
}