@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2010/11/29;
	Site Name : N.O.M Nintendo Online Magazine No.149;
	About : N.O.M shop-page3 SS;

	00.common
	01.body container wrapper
	02.header
	03.main


--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/

/*--- 03.main
--------------------------------------------------------------------------*/

.p3-stamp01{
	width:686px;
	background-image:url(https://www.nintendo.co.jp/nom/1012/shop-page3/img/p3_bg01.jpg);
	background-repeat:repeat-y;
	background-position:0 0;
}

.p3-stamp01a{
	width:686px;
	background-image:url(https://www.nintendo.co.jp/nom/1012/shop-page3/img/p3_bg03.jpg);
	background-repeat:repeat-y;
	background-position:0 0;
}

.p3-stamp02{
	width:638px;
	margin:0 auto;
}

.p3-stamp03{
	width:638px;
}

.p3-stamp04{
	padding:0 0 24px 0;
}

.p3-stamp05{
	padding:0 0 25px 0;
}

.p3-stamp-img{
	width:306px;
	padding:0;
	float:left;
}

.p3-stamp-img1{
	width:332px;
	padding:0;
	float:right;
}

.p3-stamp-img2{
	width:638px;
	padding:0 0 24px 0;
}

.p3-stamp-img3{
	width:306px;
	padding:0 0 24px 24px;
	float:right;
}

.p3-stamp-img4{
	width:306px;
	padding:14px 0 24px 0;
}

.p3-stamp-img5{
	width:73px;
	padding:0 24px 0 0;
	float:left;
}

.p3-stamp-text{
	width:230px;	
	line-height:1.7;
	padding:0 18px 0 24px;
	float:left;
}

.p3-stamp-text1{
	width:308px;	
	line-height:1.7;
	padding:0 0 0 24px;
	float:right;
}

.p3-stamp-text1a{
	width:308px;	
	line-height:16px;
	padding:0 0 16px 24px;
	float:right;
}

.p3-stamp-text2{
	width:638px;	
	line-height:1.7;
	padding:0 0 24px 0;
}

.p3-stamp-text2a{
	width:638px;	
	line-height:1.7;
	padding:0 0 24px 0;
}

.p3-stamp-text3{
	width:306px;	
	line-height:1.7;
	padding:0;
	float:left;
}

.p3-stamp-text3 p{
	width:306px;	
	line-height:1.7;
}

.p3-stamp-text4{
	width:541px;	
	line-height:1.7;
	padding:0;
	float:right;
}


.p3-stamp-mii{
	width:60px;
	padding:20px 0 0 0;
	float:right;
}

.p3-stamp-mii1{
	width:60px;
	padding:0;
	float:right;
}
