@charset "Shift_JIS";

* {
	margin:0;
	padding:0;
	border:0;
	/*font-family:"MS UI Gothic","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","Lucida Grande","MS Gothic";*/
	font-family:"Hiragino Kaku Gothic Pro","HiraKakuPro-W3","MS UI Gothic","Lucida Grande","MS Gothic";
}

img {
	margin:0;
	padding:0;
	border:0;
}

a {
	outline:none;
}

.clear {
	clear:both;
}

.hide {
	position:absolute;
	left:-9999px;
	top:-9999px;
}

body {
	background:#004 url(https://www.nintendo.co.jp/nom/0812/ds1/img/bg_001.jpg) repeat-x center top;
	text-align:center;
}

#container {
	width:768px;
	margin:0 auto;
	text-align:center;
}

#wrapper {
	width:768px;
	margin:0 auto;
	text-align:left;
}

#header {
	width:768px;
	height:72px;
	background:#004 url(https://www.nintendo.co.jp/nom/0812/ds1/img/head_001.jpg) no-repeat center top;
}

#nom1 {
	width:188px;
	height:72px;
	margin:0 0 0 21px;
	float:left;
	display:inline;
}

#nom2 {
	width:266px;
	height:28px;
	margin:31px 21px 13px 0;
	float:right;
	display:inline;
}

#main {
	width:768px;
}

.ds1 {
	width:768px;
}

.text1 {
	font-size:12px;
	line-height:150%;
	width:646px;
	margin:10px 61px 20px 61px;
}

.text2 {
	font-size:12px;
	line-height:150%;
	margin:0 0 0 5px;
}

.text2 a:link {
	color:#CB0000;
	text-decoration:none;
}

.text2 a:visited {
	color:#CB0000;
	text-decoration:none;
}

.text2 a:hover {
	color:#FFF;
	text-decoration:underline;
}

.text3 {
	font-size:12px;
	line-height:150%;
	width:646px;
	margin:10px 61px 0 61px;
	float:right;
	display:inline;
}

.text4 {
	font-size:12px;
	line-height:150%;
	width:646px;
	margin:10px 61px 0 61px;
	float:right;
	display:inline;
}

.pic1 {
	float:right;
	margin:5px 0 10px 20px;
	display:inline;
}

.pic2 {
	float:right;
	margin:10px 0 2px 20px;
	display:inline;
}

.btn1 {
	display:block;
	width:191px;
	height:17px;
	background-color:#EEE;
	background-image:url(https://www.nintendo.co.jp/nom/0812/ds1/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	float:left;
}

.btn1:hover {
	background-position:0 -17px;
}

.btn2 {
	display:block;
	width:191px;
	height:17px;
	background-color:#EEE;
	background-image:url(https://www.nintendo.co.jp/nom/0812/ds1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	float:left;
}

.btn2:hover {
	background-position:0 -17px;
}

.btn3 {
	display:block;
	width:191px;
	height:17px;
	background-color:#EEE;
	background-image:url(https://www.nintendo.co.jp/nom/0812/ds1/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	float:left;
}

.btn3:hover {
	background-position:0 -17px;
}
