@charset "Shift_JIS";

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/

#container{
	width:100%;
	margin:0 auto;
	text-align:center;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/bg_top.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}

.btnarea {
	width:768px;
}

.btnarea01 {
	width:282px;
	margin:0 35px 20px 451px;
}

.btnarea3_01 {
	width:282px;
	margin:0 35px 20px 55px;
	float:right;
}

.kekka {
	width:385px;
	margin:14px 0 0 11px;
	float:left;
}

.kekka01 {
	width:115px;
	height:14px;
	margin:0 20px 0 0;
	float:left;
}

.kekka02 {
	width:115px;
	height:14px;
	margin:0;
	float:right;
}

.kekka01_a {
	display:block;
	width:115px;
	height:14px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/page3/img/kekka01.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.kekka02_a {
	display:block;
	width:115px;
	height:14px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/page3/img/kekka02.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.kekka03_a {
	display:block;
	width:115px;
	height:14px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/page3/img/kekka03.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.kekka01_a:hover , .kekka02_a:hover , .kekka03_a:hover {
	background-position:0 -14px;
}

.btnarea02 {
	width:54px;
	height:47px;
	margin-right:4px;
	float:left;
}

.btnarea03 {
	width:102px;
	height:47px;
	margin-left:6px;
	float:right;
}

.btn01 {
	display:block;
	width:54px;
	height:47px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/btn01.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn02 {
	display:block;
	width:54px;
	height:47px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/btn02.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn03 {
	display:block;
	width:54px;
	height:47px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/btn03.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.totop {
	display:block;
	width:102px;
	height:47px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/totop.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn01:hover , .btn02:hover , .btn03:hover , .totop:hover {
	background-position:0 -47px;
}

.btn01_now {
	display:block;
	width:54px;
	height:47px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/btn01.jpg);
	background-repeat:no-repeat;
	background-position:0 -47px;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn02_now {
	display:block;
	width:54px;
	height:47px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/btn02.jpg);
	background-repeat:no-repeat;
	background-position:0 -47px;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.btn03_now {
	display:block;
	width:54px;
	height:47px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/imgcmn/btn03.jpg);
	background-repeat:no-repeat;
	background-position:0 -47px;
	font-size:0.1%;
	line-height:0.1%;
	text-indent:-9999px;
}

.page-lead {
	width:688px;
	margin:0 40px 26px 40px;
}

.page-lead span {
	font-weight:bold;
}

.p-block01 {
	width:692px;
	margin:0 36px 8px 40px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/page1/img/h3_bg01.gif);
	background-repeat:repeat-y;
	background-position:0 0;
}

.p-block-bg {
	width:692px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/page1/img/h3_bg01.gif);
	background-repeat:repeat-y;
	background-position:0 0;	
}

.p-block-bg_3 {
	width:692px;
	background-image:url(https://www.nintendo.co.jp/nom/1205/page3/img/h3_bg01.gif);
	background-repeat:repeat-y;
	background-position:0 0;	
}

.textarea {
	width:628px;
	margin:24px 30px 0 30px;
}

.textarea_3 {
	width:628px;
	margin:20px 30px 0 30px;
}

.textarea01 {
	width:628px;
	margin:0 30px 0 30px;
	padding:0 0 24px 0;
}

.textarea02 {
	width:628px;
	margin:0 30px 0 30px;
	padding:0 0 30px 0;
}

.textarea03 {
	width:628px;
	margin:24px 30px 0 30px;
	padding:0 0 24px 0;
}

.textarea-bg {
	width:628px;
}

.textarea-bg-text {
	width:360px;
	padding:0;
	float:left;
}

.textarea-bg-img {
	width:268px;
	padding:0;
	float:right;
}

.img {
	width:250px;
	margin:0 30px 0 0;
	float:left;
}

.text {
	width:348px;
	margin:0;
	float:right;
}

.img_3 {
	width:225px;
	margin:0;
	float:right;
}

.text_3 {
	width:373px;
	margin:0 30px 24px 0;
	color:#f45a8a;
	float:left;
}

.text p {
	padding:0 0 20px 0;
}

.int01 {
	width:38px;
	font-weight:bold;
	float:left;
}

.int02 {
	width:588px;
	font-weight:bold;
	float:right;
}

.answer {
	color:#f45a8a;
}