
.maruc { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 15px; color:#DDDDDD }
.small2 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px }
.small { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 20px }
.small_b { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 16px; color:#BBFFFF }
.normal { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 20px }
.normal_y { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 14px; line-height: 20px; color:#F0E68C }

.caption { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 15px }

/*@ƒCƒ“ƒ^ƒrƒ…[—p@*/
.int_normal { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px }
.int_small { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 10px; line-height: 25px }
.nom_normal1 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#FF3300 ; font-weight: bold ;}
.name_normal1 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#FF0000 }
.nom_normal2 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#99CCFF ; font-weight: bold ;}
.name_normal2 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#66CCFF }
.nom_normal3 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#FF99CC ; font-weight: bold ;}
.name_normal3 { font-family: "‚l‚r ƒSƒVƒbƒN", Osaka; font-size: 12px; line-height: 25px; color:#FF66CC }

A:link { text-decoration:none;color:#FFFFFF; }
A:hover { text-decoration:underline;color:#00CCFF; }
A:active { text-decoration:underline;color:#FFFF00; }
A:visited { text-decoration:none;color:#CCCCCC; }

A.color1:link { text-decoration:underline;color:#FFFFFF; }
A.color1:hover { text-decoration:underline;color:#00CCFF; }
A.color1:active { text-decoration:underline;color:#FFFF00; }
A.color1:visited { text-decoration:none;color:#FFFFFF; }
