@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Date : 2009/03/30;

	00.common
	01.body 
	02.container wrapper
	03.header
	04.logo
	05.main
	06.btn
	07.info
	08.link
	09.footer
	10.flash

--------------------------------------------------------------------------
*/

/*--- 00.common
--------------------------------------------------------------------------*/

body {
	font-size: 12px;
}

* {
	margin:0;
	padding:0;
	border:0;
	font-family:"Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic Pro W3","HiraKakuPro-W3","MS UI Gothic","MS P Gothic","MS Gothic","Meiryo";
	line-height:1.5;
	/*letter-spacing:0.2em;
	word-spacing:0.5em;*/
	color:#4d4c43;
}

img {
	margin:0;
	padding:0;
	border:0;
}

a {
	outline:none;
}

li {
	list-style:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

.clear {
	clear:both;
}

.hide {
	position:absolute;
	left:-9999px;
	top:-9999px;
}

/*--- 01.body
--------------------------------------------------------------------------*/

body {
	background: url(https://www.nintendo.co.jp/nom/0904/p1/img/p1_bg_001.jpg) repeat top left;
	text-align:center;
}

/*--- 02.container wrapper
--------------------------------------------------------------------------*/

#container {
	width:768px;
	height: 100%;
	background: #fccc56 url(https://www.nintendo.co.jp/nom/0904/p1/img/p1_bg_002.jpg) no-repeat top center;
	text-align:center;
	margin:0 auto;
}

#wrapper {
	width:768px;
	height: 100%;
	min-height: 100%;
	margin:0 auto;
	text-align:left;
}

/*--- 03.header
--------------------------------------------------------------------------*/

#header {
	width:768px;
	height:40px;
}

.header0 {
	width:768px;
}

.header1 {
	width:768px;
	height:104px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/head_bg_001.jpg);
	background-repeat:no-repeat;
}

.header2 {
	width:768px;
	height:270px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/head_bg_002.jpg);
	background-repeat:no-repeat;
}

.nomlogo1 {
	width:94px;
	height:27px;
	margin:9px 0 0 12px;
	float:left;
	display:inline;
}

.nomlogo2 {
	height:27px;
	margin:9px 0 0 10px;
	float:left;
	display:inline;
}

.link1 {
	height:141px;
	height:33px;
	margin:14px 21px 0 0;
	float:right;
	display:inline;
}

.link2 {
	display:block;
	width:141px;
	height:33px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/link_top_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.link2:hover {
	background-position:0 -33px;
}

/*--- 03.header,btn
--------------------------------------------------------------------------*/

.btnarea1 {
	width:768px;
	height:80px;
}

.btnarea2 {
	width:768px;
	height:60px;
}

.btnarea3 {
	width:768px;
	height:70px;
}

.btn1 {
	display:block;
	width:274px;
	height:80px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn1:hover {
	background-position:0 -80px;
}

.btn1s {
	display:block;
	width:274px;
	height:80px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 -160px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn2 {
	display:block;
	width:214px;
	height:80px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:-274px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn2:hover {
	background-position:-274px -80px;
}

.btn2s {
	display:block;
	width:214px;
	height:80px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:-274px -160px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn3 {
	display:block;
	width:280px;
	height:80px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:-488px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn3:hover {
	background-position:-488px -80px;
}

.btn3s {
	display:block;
	width:280px;
	height:80px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:-488px -160px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn4 {
	display:block;
	width:188px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn4:hover {
	background-position:0 -60px;
}

.btn4s {
	display:block;
	width:188px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:0 -120px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn5 {
	display:block;
	width:180px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-188px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn5:hover {
	background-position:-188px -60px;
}

.btn5s {
	display:block;
	width:180px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-188px -120px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn6 {
	display:block;
	width:176px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-368px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn6:hover {
	background-position:-368px -60px;
}

.btn6s {
	display:block;
	width:176px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-368px -120px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn7 {
	display:block;
	width:224px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-544px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn7:hover {
	background-position:-544px -60px;
}

.btn7s {
	display:block;
	width:224px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:-544px -120px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn8 {
	display:block;
	width:251px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn8:hover {
	background-position:0 -60px;
}

.btn8s {
	display:block;
	width:251px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:0 -120px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn9 {
	display:block;
	width:211px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:-251px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn9:hover {
	background-position:-251px -60px;
}

.btn9s {
	display:block;
	width:211px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:-251px -120px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn10 {
	display:block;
	width:306px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:-462px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn10:hover {
	background-position:-462px -60px;
}

.btn10s {
	display:block;
	width:306px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_003.jpg);
	background-repeat:no-repeat;
	background-position:-462px -120px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn11 {
	display:block;
	width:280px;
	height:70px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_004.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn11:hover {
	background-position:0 -70px;
}

.btn11s {
	display:block;
	width:280px;
	height:70px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_004.jpg);
	background-repeat:no-repeat;
	background-position:0 -140px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn12 {
	display:block;
	width:232px;
	height:70px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_004.jpg);
	background-repeat:no-repeat;
	background-position:-280px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn12:hover {
	background-position:-280px -70px;
}

.btn12s {
	display:block;
	width:232px;
	height:70px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_004.jpg);
	background-repeat:no-repeat;
	background-position:-280px -140px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn13 {
	display:block;
	width:256px;
	height:70px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_004.jpg);
	background-repeat:no-repeat;
	background-position:-512px 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.btn13:hover {
	background-position:-512px -70px;
}

.btn13s {
	display:block;
	width:256px;
	height:70px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/btn_004.jpg);
	background-repeat:no-repeat;
	background-position:-512px -140px;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.midashiimg {
	width:768px;
	height:50px;
	padding:0 0 10px 0;
}


/*--- 09.footer
--------------------------------------------------------------------------*/

#footer {
	width:768px;
	height:155px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/foot_bg_001.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}

#txlink1 {
	width:768px;
	text-align:center;
}

#txlink1 a {
	color:#c87626;
	text-decoration:none;
}

#txlink1 a:visited {
	color:#c87626;
	text-decoration:none;
}

#txlink1 a:hover {
	color:#4d4c43;
	text-decoration:underline;
}

.ptoplink1 {
	width:140px;
	height:40px;
	float:right;
	margin:0 24px 0 0;
	padding:0 0 50px 0;
	display:inline;
}

.ptoplink2 {
	display:block;
	width:140px;
	height:40px;
	background-image:url(https://www.nintendo.co.jp/nom/0904/p1/img/link_ptop_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.ptoplink2:hover {
	background-position:0 -40px;
}

#txlink2 {
	width:716px;
	margin:0 26px;
	font-size:10px;
}

#txlink2 a {
	color:#4d4c43;
	text-decoration:none;
}

#txlink2 a:visited {
	color:#4d4c43;
	text-decoration:none;
}

#txlink2 a:hover {
	color:#4d4c43;
	text-decoration:underline;
}