@charset "Shift_JIS";

*{
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background: #ffffff;	
	text-align: center;
}

ul,li {
	list-style: none;
	font-size: 10px;
}


a {
	outline: 0;
}

.clear {
	clear: both;
}

/*-------------ForIE----------*/

.center {
	text-align: center;
}

/*----------------------------*/

#bg_blue {
	background: url(https://www.nintendo.co.jp/nom/0806/common/bg_blue.jpg) top repeat-x;	
}

#bg_yellow {
	background: url(https://www.nintendo.co.jp/nom/0806/common/bg_yellow.jpg) top repeat-x;	
}

#all1 {/*青ページ用*/
	margin: auto;
	width: 720px;
	text-align: left;
	background: #83d0f2;
	
}

#all2 {/*黄ページ用*/
	margin: auto;
	width: 720px;
	text-align: left;
	background: #b99b31;
	
}

#yohaku {
	margin: 0px 8px;
	width: 704px;
	background: #ffffff;
}

/*----------------------------*/

#bun1,
#bun2 {
	padding-top: 20px;
	text-align: center;
}

#bun1 {
	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/text_inline1.jpg) top center repeat-y;
}


.set {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	width: 547px;
	text-align: left;
	line-height: 1.6;
	font-size: 12px;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
	

}

.set2 {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	width: 547px;
	text-align: left;
	line-height: 1.6;
	font-size: 12px;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
}

.set_end {
	margin-left: auto;
	margin-right: auto;
	width: 547px;
	text-align: left;
	line-height: 1.6;
	font-size: 12px;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";

}

.nom {/*1行用*/
	color: #d83d4f;
	font-weight: bold;
}


.name,
.name2,
.name3,
.name4 {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.name {
	color: #059b10;
}

.text,
.text4,
.text7 {
	float: right;
	color: #313131;
}

.text2,
.text3,
.text5,
.text6 {
	float: left;
	color: #313131;
}

.text,
.text2 {
	width: 508px;
}

.text3,
.text4 {
	width: 356px;
}

.text5 {
	width: 326px;
}

.text6,
.text7 {
	width: 313px;
}



/*---------ヘラクレス用-----------*/


.photo_hito0 {/*1主人公*/
	float: right;
	width: 165px;
}

.photo_hito000 {/*4ブズーキ*/
	float: right;
	width: 145px;
}


.photo_hito_l {
	float: left;
	width: 132px;
}

.photo_hito_r {
	float: right;
	width: 132px;
}

.photo_hito_r00 {/*回り込み用＿右*/
	float: right;
	width: 132px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.photo_hito_l00 {/*回り込み用＿左*/
	float: left;
	width: 132px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.photo_ga_r {
	float: right;
	width: 179px;
}

.photo_ga_l {
	float: left;
	width: 179px;
}



/*-------井出名人用----------*/


.photo1 {/*1枚写真用*/
	padding-top: 15px;
	float: left;
	width: 547px;
	text-align: center;
}

.photo2 {/*2枚写真用*/
	padding: 15px;
}

.photo_l {
	float: left;
	width: 245px;
}

.photo_r {
	float: right;
	width: 245px;
}


.photo_hito00 {/*2マージャン牌*/
	float: right;
	width: 118px;
	margin-left: 15px;
	margin-bottom: 10px;
	text-align: right;
}


.photo_hito_l2 {
	float: left;
	width: 161px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.photo_hito_r2 {
	float: right;
	width: 161px;
	padding-left: 10px;
	margin-bottom: 10px;
}


/*----------------------------*/