@charset "Shift_JIS";

#yaku1 {
	width: 704px;
	height: 68px;
}

#title1_l {
	float: left;
	width: 464px;
}

#title1_r {
	float: right;
	width: 240px;
}


/*+++++++++++++++++++++++++*/

#profile_l {
	float: left;
	width: 190px;	
}

#profile_r {
	float: left;
	width: 514px;	
}

#info1_l {
	float: left;
	width: 228px;
}

#info1_r {
	float: left;
	width: 286px;
}

#go_yakuhp a {
	display: block;
	width: 286px;
	height: 28px;
	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_yakuhp.gif) 0 0 no-repeat;
}

#go_yakuhp a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_yakuhp.gif) 0 -28px no-repeat;
}


/*++++++++++++++++++++++++++++++++++++++*/

#go_top {
	position : relative;
	display: block;
	width: 704px;
	height: 17px;
}

#go_top p {	
	position: absolute;
	right: 22px;
	
}

#go_top p a {
	
	display: block;
	width: 90px;
	height: 17px;
	background: #000000 url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_top.jpg) 0 0 no-repeat;
}

#go_top p a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_top.jpg) 0 -17px no-repeat;
}


/*+++++++++++++++++++++++++++++++++++++++++++*/

#yaku3 {
	text-align: center;
	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/page_base1.jpg) top center no-repeat;	
}


#page_base {
	
	position : relative;
	width: 704px;
	height: 41px;
}

#p1,
#p2,
#p3,
#p4,
#p5 {
	display: block;
	width: 16px;
	height: 20px;
}

#p1 {
	position: absolute;
	top: 5px;
	left: 48px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p1.gif) 0 -20px no-repeat;

}

#p2 {
	position: absolute;
	top: 5px;
	left: 90px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p2.gif) 0 -20px no-repeat;

}

#p3 {
	position: absolute;
	top: 5px;
	left: 133px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p3.gif) 0 -20px no-repeat;

}

#p4 {
	position: absolute;
	top: 5px;
	left: 175px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p4.gif) 0 -20px no-repeat;

}

#p5 {
	position: absolute;
	top: 5px;
	left: 217px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p5.gif) 0 -20px no-repeat;

}


#p1 a {
	display: block;
	width: 16px;
	height: 20px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p1.gif) 0 0 no-repeat;
}

#p1 a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/common/p1.gif) 0 -20px no-repeat;
}

#p2 a {
	display: block;
	width: 16px;
	height: 20px;	
	background: url(https://www.nintendo.co.jp/nom/0806/common/p2.gif) 0 0 no-repeat;
}

#p2 a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/common/p2.gif) 0 -20px no-repeat;
}

#p3 a {
	display: block;
	width: 16px;
	height: 20px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p3.gif) 0 0 no-repeat;
}

#p3 a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/common/p3.gif) 0 -20px no-repeat;
}

#p4 a {
	display: block;
	width: 16px;
	height: 20px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p4.gif) 0 0 no-repeat;
}

#p4 a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/common/p4.gif) 0 -20px no-repeat;
}

#p5 a {
	display: block;
	width: 16px;
	height: 20px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/p5.gif) 0 0 no-repeat;
}

#p5 a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/common/p5.gif) 0 -20px no-repeat;
}

/*----------------------------------------------*/

#yohaku_neba {
	margin: 10px 35px;
	width: 634px;
	height: 15px;
	display: block;
}

#back {
	float: left;
	display: block;
	width: 90px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/back.jpg) 0 0 no-repeat;
}

#back a {
	display: block;
	width: 90px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/back.jpg) 0 -15px no-repeat;
}

#back a:hover {

	background: url(https://www.nintendo.co.jp/nom/0806/common/back.jpg) 0 -30px no-repeat;
}

#next {
	float: right;
	display: block;
	width: 90px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/next.jpg) 0 0 no-repeat;
}

#next a {
	display: block;
	width: 90px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/common/next.jpg) 0 -15px no-repeat;
}

#next a:hover {
	
	background: url(https://www.nintendo.co.jp/nom/0806/common/next.jpg) 0 -30px no-repeat;
}

/*----------------------------*/

#under_yohaku2 {
	padding: 11px 45px;
}

#go_top2 {
	float: left;
}

#go_toku2 {
	float: right;
}

#go_top2 a {
	display: block;
	width: 155px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_top2.gif) 0 0 no-repeat;
}

#go_toku2 a {
	display: block;
	width: 420px;
	height: 15px;
	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_content2.gif) 0 0 no-repeat;
}

#go_top2 a:hover {
	
	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_top2.gif) 0 -15px no-repeat;
}

#go_toku2 a:hover {
	
	background: url(https://www.nintendo.co.jp/nom/0806/yakumanwii/img/go_content2.gif) 0 -15px no-repeat;
}