@charset "Shift_JIS";

* {
	margin:0;
	padding:0;
	border:0;
	/*font-family:"MS Gothic","HiraKakuPro-W3","MS UI Gothic";*/
}

.clear {
	clear:both;
}

.smalltext {
	font-size:10px;
}

a {
	outline:none;
}

p {
	font-family:"MS PGothic","MS Gothic","HiraKakuPro-W3","MS UI Gothic";
	font-size:12px;
	line-height:20px;
}

body {
	font-family:"MS PGothic","MS Gothic","HiraKakuPro-W3","MS UI Gothic";
	background-attachment:fixed;
	background-color:#006b73;
	background-image:url(../img_cmn/bg_dsi.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	color:#fff;
	text-align:center;
	margin:0;
}

#container {
	width:768px;
	margin:0 auto;
	text-align:center;
}

#header {
	width:768px;
	height:50px;
	margin:0 auto;
	text-align:left;
}	

#wrapper {
	width:768px;
	margin:0 auto;
	text-align:left;
}

#top_common {
	width:768px;
	margin:0 auto;
	text-align:left;
}

#main_common {
	width:768px;
	margin:0 auto;
	text-align:left;
	background:#006b73 url(../img_cmn/base_bg.jpg) repeat-y left top;
}

#main_box {
	width:768px;
	margin:0 auto;
	text-align:left;
	background-image:url(../img_cmn/base_top.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}

.box1 {
	width:768px;
	margin:0;
}

.box2 {
	width:668px;
	margin:0 50px;
}


/* NOM title */
h1 {
	width:290px;
	height:50px;
	margin:0 auto 0 0;
}

/* Feature title */
h2 {
	width:768px;
	height:145px;
}

/* LINK: for page_num img */

.link_box {
	width:768px;
	height:40px;
	margin:0 auto;
	background:#006b73 url(../img_cmn/bg_bt.jpg) no-repeat left top;
}

.bt_table {
	width:768px;
	height:40px;
	margin:0;
}

.bt_table td {
	height:40px;
}


.bt_1, .bt_2, .bt_3, .bt_4, .bt_5, .bt_6, .bt_7,
.bt_1_no, .bt_2_no, .bt_3_no, .bt_4_no, .bt_5_no, .bt_6_no, .bt_7_no {
	display:block;
	width:36px;
	height:40px;
	background-image:url(../img_cmn/bt_num_1.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.bt_2, .bt_2_no {
	background-image:url(../img_cmn/bt_num_2.jpg);
}

.bt_3, .bt_3_no {
	background-image:url(../img_cmn/bt_num_3.jpg);
}

.bt_4, .bt_4_no {
	background-image:url(../img_cmn/bt_num_4.jpg);
}

.bt_5, .bt_5_no {
	background-image:url(../img_cmn/bt_num_5.jpg);
}

.bt_6, .bt_6_no {
	background-image:url(../img_cmn/bt_num_6.jpg);
}

.bt_7, .bt_7_no {
	background-image:url(../img_cmn/bt_num_7.jpg);
}

.bt_1:hover, .bt_2:hover, .bt_3:hover, .bt_4:hover, .bt_5:hover, .bt_6:hover, .bt_7:hover,
.bt_1_no, .bt_2_no, .bt_3_no, .bt_4_no, .bt_5_no, .bt_6_no, .bt_7_no {
	background-position:0 -40px;
}


/* Link: Wii Another Code, DS Another Code, DS Wish Room */
.wiisite_link {
	width:320px;
	margin:0 auto 0 224px;
}

.dssite_link {
	width:664px;
	margin:0 auto 20px;
}


.bt_wiianother, .bt_dsanother, .bt_dswish {
	display:block;
	width:334px;
	height:150px;
	background-image:url(../img_cmn/bt_dsanother.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	line-height:0.1%;
	float:left;
}

.bt_dswish {
	background-image:url(../img_cmn/bt_dswishroom.jpg);
}

.bt_wiianother {
	width:320px;
	height:180px;
	background-image:url(../img_cmn/bt_wiianother.jpg);
}

.bt_wiianother:hover {
	background-position:0 -180px;
}

.bt_dsanother:hover, .bt_dswish:hover {
	background-position:0 -150px;
}


/* Link: Bottom text link - for page */
.textlink_box {
	width:668px;
	margin:10px 50px 30px;
	text-align:center;
}

.textlink_box p {
	font-size:10px;
	line-height:1.2em;
}

/* Link: Footer text link */
.footerlink_box {
	width:748px;
	margin:10px 10px 30px;
	text-align:left;
}

.footerlink_box p {
	font-size:10px;
}


/* Link: common */
a, a:link {
	color:#cf0;
	text-decoration:underline;
}

a:visited {
	color:#6c0;
	text-decoration:underline;
}

a:hover {
	color:#cf9;
	text-decoration:underline;
}
