@charset "Shift_JIS";

* {
	margin:0;
	padding:0;
	border:0;
	/*font-family:"HiraKakuPro-W3","MS UI Gothic","MS Gothic";*/
}

.clear {
	clear:both;
}

a {
	outline:none;
}

p {
	font-family:"HiraKakuPro-W3","MS UI Gothic","MS Gothic";
}

body {
	background:#000 url(https://www.nintendo.co.jp/nom/0810/img/top_bg_001.jpg) no-repeat center top;
	text-align:center;
	margin:0;
}

#tcontainer {
	width:780px;
	margin:0 auto;
	text-align:center;
}

#twrapper {
	width:780px;
	margin:0 auto;
	text-align:left;
}

.timg1 {
	width:353px;
	height:149px;
	margin:6px 146px 0 46px;
}

.tbtn1 {
	display:block;
	width:212px;
	height:155px;
	background-image:url(https://www.nintendo.co.jp/nom/0810/img/btn_001.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:1%;
	float:left;
}

.tbtn1:hover {
	background-position:0 -155px;
}

.tbtn2 {
	display:block;
	width:212px;
	height:103px;
	background-image:url(https://www.nintendo.co.jp/nom/0810/img/btn_002.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:1%;
	float:left;
}

.tbtn2:hover {
	background-position:0 -103px;
}

.tlink1 {
	font-size:10px;
	color:#FFF;
}

a:link {
	color:#FFF;
	text-decoration:underline;
}

a:visited {
	color:#FFF;
	text-decoration:underline;
}

a:hover {
	color:#CC0;
	text-decoration:underline;
}
