@charset "Shift_JIS";

/*--- information
--------------------------------------------------------------------------	

	Build Date : 2009/08/28;
	Site Name : N.O.M Nintendo Online Magazine No.134;
	About : N.O.M page CSS;

--------------------------------------------------------------------------*/

/*--- 00.common
--------------------------------------------------------------------------*/

/*--- font-size adjustment

 -------------+-------------
  pixels (px) | percent (%)
 -------------+-------------
       10     |     77
       11     |     85
       12     |     93
       13     |    100
       14     |    107
       15     |    114
       16     |    122
       17     |    129
       18     |    136
       19     |    144
       20     |    152
       21     |    159
       22     |    167
       23     |    174
       24     |    182
       25     |    189
       26     |    197
 -------------+-------------
 
--------------------------------------------------------------------------*/


/*--- 01.body container wrapper
--------------------------------------------------------------------------*/

body {
	background-attachment:fixed;
}


/*--- 02.header
--------------------------------------------------------------------------*/


/*--- 03.main
--------------------------------------------------------------------------*/

.main {
	width:768px;
	height:350px;
	position:relative;
}

.imgh2 {
	width:768px;
	height:50px;
	position:absolute;
	top:0;
	left:0;
}

.member_sega {
	width:464px;
	height:300px;
	position:absolute;
	top:50px;
	left:0;
}

.member_nintendo {
	width:304px;
	height:300px;
	position:absolute;
	top:50px;
	left:464px;
}

.pagebtnbox {
	width:768px;
	height:150px;
	position:relative;
	background-image:url(../img_cmn/bg_base.gif);
	background-position:0 0;
	background-repeat:no-repeat;
}

.pagebtn {
	width:210px;
	height:30px;
	position:absolute;
	top:10px;
	left:534px;
}

.pagebtn p {
	display:inline;
}

.imgct {
	width:768px;
	height:90px;
	position:absolute;
	top:60px;
	left:0;
}


/*--- 04.interview
--------------------------------------------------------------------------*/

.intbox {
	width:700px;
	margin:0 auto;
}

.nomname, .intname1, .intname2 {
	width:65px;
	margin:0 0 20px;
	color:#eb7a00;
	font-size:14px;
	line-height:1.5;
	font-weight:bold;
	text-align:right;
	float:left;
	display:inline;
}

.intname1 {
	color:#007cc0;
}

.intname2 {
	color:#e74d4d;
}

.nomtext, .inttext-l, .inttext-s, .inttext-ss {
	width:630px;
	margin:0 0 20px;
	color:#434343;
	font-size:14px;
	line-height:1.5;
	letter-spacing:0.05em;
	float:right;
	display:inline;
}

.nomtext {
	font-weight:bold;
	color:#eb7a00;
}

.inttext-s {
	width:370px;
}

.inttext-ss {
	width:290px;
}

.img-photo {
	width:240px;
	height:160px;
	margin:0 0 20px 20px;
	float:right;
	display:inline;
}

.img-photo2 {
	width:480px;
	margin:0 auto 20px;
	clear:both;
}

.img-photo3 {
	width:680px;
	margin:0 auto 20px;
	clear:both;
}

.img-wii {
	width:480px;
	margin:0 auto 20px;
	clear:both;
}

.img-wii2 {
	width:320px;
	margin:0 auto 20px;
	clear:both;
}

.img-wii-r {
	width:320px;
	margin:0 0 20px 20px;
	float:right;
	display:inline;
}

.img-ds {
	width:432px;
	margin:0 auto 20px;
	clear:both;
}

.img-ss {
	width:546px;
	margin:0 auto 20px;
	clear:both;
}

.img-ss2 {
	width:440px;
	margin:0 auto 20px;
	clear:both;
}

.img-ss3 {
	width:432px;
	margin:0 auto 20px;
	clear:both;
}



.page-link {
	width:768px;
	height:60px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/main_btm.gif);
	background-position:left bottom;
	background-repeat:no-repeat;
}

.page-link p {
	padding:10px 0 0;
	text-align:center;
	color:#a0a0a0;
}


/*--- 05.link
--------------------------------------------------------------------------*/

.pagebtn1 {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn1s {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:0 -60px;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn1:hover {
	background-position:0 -30px;
}

.pagebtn2 {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-30px 0;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn2s {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-30px -60px;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn2:hover {
	background-position:-30px -30px;
}

.pagebtn3 {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-60px 0;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn3s {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-60px -60px;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn3:hover {
	background-position:-60px -30px;
}

.pagebtn4 {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-90px 0;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn4s {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-90px -60px;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn4:hover {
	background-position:-90px -30px;
}

.pagebtn5 {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-120px 0;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn5s {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-120px -60px;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn5:hover {
	background-position:-120px -30px;
}

.pagebtn6 {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-150px 0;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn6s {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-150px -60px;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn6:hover {
	background-position:-150px -30px;
}

.pagebtn7 {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-180px 0;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn7s {
	display:block;
	width:30px;
	height:30px;
	background-image:url(https://www.nintendo.co.jp/nom/0911/img_cmn/btnum.jpg);
	background-repeat:no-repeat;
	background-position:-180px -60px;
	text-indent:-9999px;
	font-size:0.1%;
	/*line-height:0.1%;*/
	float:left;
}

.pagebtn7:hover {
	background-position:-180px -30px;
}

